body {
    scrollbar-face-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-arrow-color: #ffcc55;
    scrollbar-base-color: #ffcc55;
}

.button {
    line-height: 1;
}

tr.main_menu > td, tr.footer2 > td, tr.footer > td {
    text-align: right;
}

tr.main_menu > td:first-child, tr.footer > td:first-child, tr.footer2 > td:first-child {
    text-align: left;
}

table.console td.name { width: auto; }
