ev/*
junior/*
tasks-importer/*
*.dll
*.o
templates/std/docs/sp*.exe
templates/std/docs/sample.zip
templates/std/docs/*.html
# Compiled TT templates
*.ttc
# Created from template
sql/interbase/create_db.sql
ib_data/*
