judge/*
spawner/*
perl/*
ev/*
testutils/*
easyGenPerl/*
*.dll
*.o
templates/std/docs/sp.exe
templates/std/docs/sample.zip
templates/std/docs/*.html
# Compiled TT templates
*.ttc
# Created from template
cgi-bin/CATS/Connect.pm
