[%
  capt.import({
    code => 'Dev. env. code',
    description => 'Description',
    file_ext => 'Supported file extensions',
    memory_handicap => 'Memory handicap, Mb',
    syntax => 'Syntax',
    locked => 'Locked',
  })
%]
