[%
  capt.import({
    two_reqs => 'Select two submissions to compare',
    no_req => 'Select a submission',
    loading => 'Loading...',
    selection => 'Selection',
    clear => 'clear',
    source => 'source',
    results => 'results',
    log => 'log',
    compare => 'compare',
    retest => 'retest',
    question => 'Question to jury',
    send => 'Send',
  })
%]
