[%
  two_reqs = 'Select two submissions to compare';
  no_req = 'Select a submission';
  loading = 'Loading...';
  selection_capt = 'Selection'
  clear_capt = 'clear';
  source_capt = 'source';
  results_capt = 'results';
  log_capt = 'log';
  compare_capt = 'compare';
  retest_capt = 'retest';
  question_capt = 'Question to jury';
  send_capt = 'Send';
%]
