[%
  capt.import({
    jury => 'jury',
    answer => 'answer',
    delete => 'delete',
    message => 'message',
    all_teams => 'to all participants',
    contest_dates => {
      start => 'Start of',
      freeze => 'Freeze of',
      finish => 'Finish of',
    },
    official_contest => 'official contest',
    contest => 'contest',
    pages => 'pages',
  })
%]
