[%
  capt.import({
    contest_name => 'Contest',
    site_name => 'Site',
    users_count => 'Users',
    console => 'console',
    rank_table => 'rank table',
    problem_tag => 'Problems variant tag',
  })
%]
