[%
  capt.import({
    listview_captions => {
      test => 'Test',
      input => 'Input',
      input_size => 'Input size',
      answer => 'Answer',
      answer_size => 'Answer size',
      generator_params => 'Generator parameters',
      validator => 'Validator',
      input_hash => 'Input hash',
    },
    clear_test_data => 'Clear generated test data',
    confirm_clear_test_data => 'Delete generated data for all tests. Are you sure?',
    clear_input_hashes => 'Clear input hashes',
    confirm_clear_input_hashes => 'Delete input hashes for all tests. Are you sure?',
    gen_script => 'Generator script',
  })
%]
