[%
  capt.import({
    title => 'Name',
    lang => 'Language',
    original_contest => 'Original contest',
    download => 'Download',
    package => 'package',
    git_package => 'git package',
    text => 'Text',
    full_text => 'full',
    nospell_text => 'no spellchecking',
    nomath_text => 'simplified math',
    static_text => 'cached',
  })
%]
