[%
  capt.import({
    encoding => 'encoding',
    testsets => 'Testsets',
    name => 'Name',
    tests_passed => 'Tests passed',
    points => 'Points',
    comment => 'Comment',
    test_data => 'Input data',
    test => 'Test',
    result => 'Result',
    time => 'Time, sec',
    memory => 'Memory',
    disk => 'Disk',
    total => 'Total',
  })
%]
