[%
  capt.import({
    testing_result => 'testing result',
    retest => 'Retest',
    on_test => 'on test #',
    with_points => 'with points',
    judge_log => 'Judge log',
    no_log => 'No log',
    delete => 'Delete run request',
    confirm_delete => 'Delete this run request. Are you sure?',
  })
%]
