[%
  capt.import({
    want_to_delete => 'Do you really want do disqualify participant',
    virtual => 'virtual',
    save_attributes => 'Save attributes',
    login => 'Login',
    set_tag => 'Set tag',
    set_site => 'Set site',
    add_to_group => 'Add to group',
    gen_passwords => 'Generate passwords',
    message_to_teams => 'Message to participants',
    send => 'Send',
    send_to_all => 'broadcast',
    send_to_all_contests => 'to all contests',
  })
%]
