[%
  capt.import({
    name => 'Name',
    in_list => 'In user list',
    last_login => 'Last login',
    last_ip => 'Last IP',
    problems => 'Problems',
    sites => 'Sites',
    envelopes => 'Envelopes not received',
    all => 'all',
    solved => 'solved',
    contests => 'Contests',
    ooc => 'ooc',
    send_message => 'message',
    groups => 'Groups',
    tokens => 'Tokens',
    make_token => 'make token',
  })
%]
