[%
  capt.import({
    output_data => 'Solution output',
    input_data => 'Input test data',
    answer_data => 'Answer test data',
    no_output => 'No output',
    size => 'Size',
    delete_request_outputs => 'Delete output for all tests',
    delete_test_output => 'Delete output for this test',
    confirm_delete_for_request => 'Delete output for all tests. Are you sure?',
    confirm_delete_for_test => 'Delete output for this test. Are you sure?',
  })
%]
