body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    width: 100%;
}

table.iface { width: 100%; border-collapse : collapse; }
table.iface tr td { padding: 0; }

table.header {
    background-color: #ffcc55;
    background-image: url(../../images/std/bg.gif);
    background-repeat: no-repeat;
    background-position: right;
    color: #333300;
}
table.header td { }
table.header td.contest_title {
    background-image: url(../../images/std/logo.gif);
    background-repeat: no-repeat;
    background-position: left center;
    font-size: x-large;
    height: 72px;
    padding-left: 104px;
    vertical-align: bottom;
}
table.header td.contest_title span { font-size: large; }
table.header td.elapsed {
    font-size: small;
    padding-right: 4px;
    text-align: right;
    vertical-align: bottom;
}
table.header td.elapsed p a { color: #333300; padding: 1px; }
table.header td.elapsed p a.selected { font-weight: bold; border: 1px solid black; }
table.header td.elapsed p a:hover { background-color: #ffcc55; }

.main_menu {
    background-color: #7070ff;
    height: 30px;
}

.sub_menu {
    background-color: #bbbbff;
    height: 25px;
}

.top { 
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: white;
} 

table.listview_header {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.listview_header { line-height: 2; }

.listview_header div.pages { margin: 0; float: none; }
div.pages { display: inline-block; margin: 4px 0; float: right; }
div.pages span { padding: 2px 0px; }
div.pages a { padding: 2px; }
div.pages a:hover { background-color: #bbbbff; }

a.search_hint, a.search_hint:link { font-size: small; }

div.search_hint {
    position: absolute;
    left: 8%;
    display: none;
    background: #fffd9d;
}
div.search_hint table td { padding: 2px 5px; position1: relative; }
div.search_hint table td a { display: block; }
div.search_hint table td.sh1 a { color: #1010d0; }
div.search_hint table td:hover { background-color: #ffcc55; }
div.search_hint table td ul {
    background-color: white;
    border: 1px solid black;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 4px;
    position: absolute;
    top1: 8px;
}
div.search_hint table td ul li {
    padding: 2px;
    margin:  2px;
}
div.search_hint table td ul li:hover { background-color: #ffcc55; }

a.top, a.top:link, a.top:visited, a.top:active,
.top a, .top a:link, .top a:visited, .top a:active
{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

a, a:link {
    color: #4040ff;
    font-family: Arial; 
    text-decoration: none; 
    font-size: 14px
}

.sub_menu a {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #3030a0;
}

.main_menu a.main_menu_selected, .main_menu a.main_menu_selected:visited { color: yellow; }
a.sub_menu_selected, a.sub_menu_selected:visited { color: white; }

tr.footer, tr.footer td {
    background-color: #7070ff;
    height: 30px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

tr.footer2, tr.footer2 td, tr.footer2 td a {
    background-color: #ffcc55;
    height: 40px;
    color: #333300;
    font-size: 12px;
}

td.footer_image {
    background-image: url(../../images/std/bg2.gif);
    background-repeat: no-repeat;
}

.filter {
    /*filter: Alpha(Opacity=80, FinishOpacity=20, Style=1, StartX=0, StartY=100, FinishY=250);*/
}

select, option {
    background-color: #ffffff;
    border: 1px solid #4040ff;
    height: 22px;
    vertical-align: middle;
}

input {
    height: 22px;
    vertical-align: middle;
}

input.listview_checkbox {
    height: auto;
    vertical-align: baseline;
}

.file {
    border: 1px solid #4040ff;
    background: #ffffff;
}

.bordered {
    border: 1px solid #4040ff;
}

.send_message {
    border: 1px solid #4040ff;
    background-color: #ccccff;
    padding: 4px;
}

table tr td.nested { height: 100%; padding: 0;  }
td.nested table { border-style: hidden; height: 100%; width: 100%; }
table.internal_borders { border-collapse: collapse; }
table.internal_borders td, table.internal_borders th { border: 1px solid #4040ff; }
table.padded td, table.padded th { padding: 3px; }
table.sample { border-collapse: collapse; border: 2px; }
table.sample td, table.sample th { border: 1px solid black; padding: 5px; }
table.sample td { vertical-align: top; }

.button {
    background-color: #ffffff;
    border: 1px solid #4040ff;
    color: #4040ff;
    height: 22px;
}
.button2 {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #7070ff;
}

th { font-size: 11pt; font-weight: bold; color:#000000; }
td { font-size: 11pt }
td.ts { font-size: 10pt; font-style: italic; }

.run_details_NT { color: #808080; font-style: italic; }

.run_details_NP { color: #808080; }
.run_details_UH { color: white; background-color: #A00000; font-weight: bold; }
.run_details_T  { color: #A0A000; }
.run_details_P  { color: #A0A000; }
.run_details_AW { color: #A0A000; background-color: #A0FFA0; }
.run_details_OK { background-color: #A0FFA0; }
.run_details_WA { background-color: #FFA0A0; }
.run_details_PE { background-color: #FFFFA0; }
.run_details_TL { background-color: #FFC080; }
.run_details_RE { background-color: #FFA0FF; }
.run_details_CE { background-color: #A0FFFF; }
.run_details_SV { background-color: #FFA0A0; font-weight: bold; }
.run_details_ML { background-color: #FFC080; }
.run_details_IS {}
.run_details_IL { background-color: #FFC080; }
.run_details_MR { background-color: #FFC0C0; }
.run_details_WL { background-color: #FFC080; }

.hidden { display: none; }

tr.odd { background-color: #ffffff; }
tr.even { background-color: #f0f0f0; }
table.highlight tr:hover { background-color: #ffcc55; }
table.highlight tr.col_defs:hover, tr.col_defs { background-color: #ccccff }
table.console tr td { margin: 0; padding: 1px 10px 1px 1px; }
table.console tr td, table.console tr td a { font-size: 10pt; }
table.console tr td:first-child { width: 1%; white-space: nowrap; }

a.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

a.edit { background-image: url(../../images/std/icons/edit.png); }
a.view { background-image: url(../../images/std/icons/view.png); }
a.delete { background-image: url(../../images/std/icons/delete.png); }

a.contest_selected { color: black; background-color: #ccccff; }

p { margin-top: 5px; margin-bottom: 5px } 

ul { margin-top: 5px; margin-bottom: 5px } 

h2 { margin-top: 10px; margin-bottom: 10px }
h3 { margin-top: 10px; margin-bottom: 5px }
h4 { margin-top: 10px; margin-bottom: 5px }
code { margin-top: 0; margin-bottom: 0 }
pre { margin-top: 0; margin-bottom: 0 }

.diff_only_a { background-color: #FFA0A0 }
.diff_only_b { background-color: #A0FFA0 }

form.embedded { margin: 0 }
a.current_link { font-weight: bold; }

span.TeX { font-family: Arial Unicode Ms, Lucida Sans Unicode, Arial, sans serif; }
span.TeX i { font-family: Times New Roman, serif; }
span.TeX b { font-weight: normal; font-family: Times New Roman, serif; }
span.TeX sup { white-space: nowrap; position: relative; left: 1px; }
span.TeX sub { white-space: nowrap; position: relative; top: 2px; }
span.TeX span.over { border-top: 1px solid black; padding: 0px 3px 0px 1px; }
span.TeX span.num { font-family: Times New Roman, serif; }
span.TeX span.sqrt { border-top: 1px solid black; padding-right: 2px; }
span.TeX span.sqrt_sym { font-size: 18px; }
span.TeX table.frac { border: 0; border-collapse: collapse; display: inline; vertical-align: middle; position: relative; top: -1ex; }
span.TeX table.frac tr td { text-align: center; }
span.TeX table.frac tr.nom td { border-bottom: 1px solid black; }
span.TeX table.sfrac tr td { font-size: small; }
span.TeX table.limits { border: 0; border-collapse: collapse; display: inline; text-align: center; vertical-align: middle; }
span.TeX table.limits tr { vertical-align: middle; padding: 0; margin: 0; }
span.TeX table.limits tr td.sub { vertical-align: top; padding: 0; margin: 0; font-size: small; }
span.TeX .MathJax { font-weight: 200; }

table.nobr tr td, span.nobr, label.nobr { white-space: nowrap; }

a.spell { text-decoration: underline; color: red; }

td.problem_radio { width: 3%; height: 100%; padding: 0; margin: 0; }
td.problem_radio label { display: block; width: 100%; height: 100%; vertical-align: middle; }
td.problem_radio label:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; }
td.problem_radio label div { display: inline-block; text-align: center; vertical-align: middle; }
td.problem_radio label a { vertical-align: middle; }

td.user_checkbox { }
td.user_checkbox label { display: block; text-align: center; width: 100%; height: 100%; }

td.problem_req_count { text-align: center; }
td.problem_req_count > div { position: relative; }
a.problem_req_count_udebug {
    position: absolute;
    right: 3px;
    top: 2px;
    width: 15px;
    height: 15px;
    display: block;
    background-image: url(../../images/std/udebug3.png);
    background-repeat: no-repeat;
}
table.rank_table tr td p { padding: 0; margin: 0; font-size: 10px; }

div.problem_text { margin-left: 10px; margin-right: 10px; }
div.problem_text h3, div.problem_text h4 {
    font-style: italic;
    page-break-after: avoid;
}

div.problem_text div { page-break-inside: avoid; }

@media print { .jsonly { display: none; } }

table.registration tr td { padding: 5px; width: 200px; }

span.timing { color: #808080; font-size: xx-small; }

div.problem_submit { float: left; margin: 5px 20px 5px 5px; }
div.problem_submit label { display: inline-block; width: 140px; margin-right: 5px; }

span.jury_message { color: red; }

table.compare_tests td.z { background-color: #ffc0c0; }
