<TMPL_INCLUDE 'includes/menu_begin.inc'>
<TMPL_IF too_many_problems>
Слишком много задач
<TMPL_ELSE>
<form method="post" enctype="multipart/form-data" action="<TMPL_VAR href_action>">
<table><tr><td align=right>Код задачи:</td><td>
<select name="problem_code">
<TMPL_LOOP code_array>
<option name="<TMPL_VAR code>"><TMPL_VAR code>
</TMPL_LOOP>
</select>
</td></tr>
<tr><td align=right>Zip-архив с задачей:</td><td>
<input type=file name="zip" class=button></td></tr></table>
<br>
<input type=submit name='new_save' value='     Ok     ' class=button>
<input type=submit name='new_cancel' value='Отмена' class=button>
</form>
</TMPL_IF>
<TMPL_INCLUDE 'includes/menu_end.inc'>