<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br/></TMPL_IF>
<TMPL_IF not_started><i>Соревнования ещё не начались</i>
<TMPL_ELSE>
<TMPL_UNLESS printable> 
<table width="100%">
<tr>
<td align=left>
  <TMPL_IF hide_ooc><a href="<TMPL_VAR href_hide_ooc>" target=_top>спрятать внеконкурсные</a>
  <TMPL_ELSE><a href="<TMPL_VAR href_show_ooc>" target=_top>показать внеконкурсные</a></TMPL_IF> | 
  <TMPL_IF hide_virtual><a href="<TMPL_VAR href_hide_virtual>" target=_top>спрятать виртуальные</a>
  <TMPL_ELSE><a href="<TMPL_VAR href_show_virtual>" target=_top>показать виртуальные</a></TMPL_IF>
</td>
<td align=right>
правила:
<TMPL_IF show_points><a href="./docs/rules_school.html">школьные</a>
<TMPL_ELSE><a href="./docs/rules_acm.html">ACM</a></TMPL_IF>
состояние: <TMPL_IF frozen><font color=#0000a0>заморожена</font><TMPL_ELSE><font color=#00a040>актуальное</font></TMPL_IF>
<TMPL_IF cache_since>кеш: <TMPL_VAR cache_since></TMPL_IF>
</td>
</tr>
</table>
</TMPL_UNLESS>

<table width="100%" cellspacing="1" class="bordered rank_table">
<TMPL_IF many_contests>
<tr bgcolor="#ccccff">
<th colspan="2"></th>
<TMPL_LOOP contests><th colspan="<TMPL_VAR count>"><TMPL_VAR start_date></th></TMPL_LOOP>
<th colspan="4"></th>
</TMPL_IF>
<tr bgcolor="#ccccff">
<th width="1%"></th>
<TMPL_IF 0><th width=1%>Страна</TMPL_IF>
<th>Название команды</th>
<TMPL_IF show_points>
<TMPL_LOOP problems>
<th width="<TMPL_VAR column_width>%">
  <a href="<TMPL_VAR problem_text>" alt="<TMPL_VAR title ESCAPE=HTML>" title="<TMPL_VAR title ESCAPE=HTML>"><TMPL_VAR code></a>
  (<TMPL_VAR max_points>)
</th>
</TMPL_LOOP>
<TMPL_ELSE>
<TMPL_LOOP problems>
<th width="<TMPL_VAR column_width>%">
  <a href="<TMPL_VAR problem_text>" alt="<TMPL_VAR title>" title="<TMPL_VAR title ESCAPE=HTML>"><TMPL_VAR code></a>
</th>
</TMPL_LOOP>
</TMPL_IF>
<th width="<TMPL_VAR problem_column_width>%"><TMPL_IF show_points>всего (<TMPL_VAR max_total_points>)<TMPL_ELSE>=</TMPL_IF></th>
<TMPL_UNLESS show_points><th>время</th></TMPL_UNLESS>
<th>место</th>
<th>статус</th>

<TMPL_IF printable>
<TMPL_LOOP rank>
<tr align="center"<TMPL_UNLESS row_color> bgcolor="#f4f4f4"</TMPL_UNLESS>>
<td align="right"><TMPL_VAR contestant_number>&nbsp;</td><TMPL_IF 0><td nowrap align=center bgcolor=#ffffff>
<TMPL_IF flag>
    <img src="<TMPL_VAR NAME=flag>" alt="<TMPL_VAR NAME=country ESCAPE=HTML><TMPL_IF motto> - <TMPL_VAR motto ESCAPE=HTML></TMPL_IF>">
<TMPL_ELSE>
    <TMPL_VAR NAME=country ESCAPE=HTML><TMPL_IF motto> - <TMPL_VAR motto ESCAPE=HTML></TMPL_IF>
</TMPL_IF></TMPL_IF><td align="left"><TMPL_IF 0><a href="<TMPL_VAR href_console>" title="<TMPL_VAR city>"></a></TMPL_IF>
<TMPL_VAR team_name ESCAPE=HTML></td>
<TMPL_IF show_points
  ><TMPL_LOOP columns><td><TMPL_VAR points></td></TMPL_LOOP
><TMPL_ELSE
  ><TMPL_LOOP columns
    ><td><p><TMPL_VAR time ESCAPE=HTML></p><TMPL_VAR td ESCAPE=HTML></td>
  </TMPL_LOOP
></TMPL_IF
><td><TMPL_IF show_points><TMPL_VAR total_points
  ><TMPL_ELSE><TMPL_VAR total_solved><td><TMPL_VAR total_time></TMPL_IF
></td><td><TMPL_VAR place></td><td class="ts"><TMPL_IF is_ooc
  >ooc</TMPL_IF><TMPL_IF is_remote> remote</TMPL_IF><TMPL_IF is_virtual> virtual</TMPL_IF></td></tr>
</TMPL_LOOP>
<TMPL_ELSE>
<TMPL_IF rank><script type="text/javascript"><!--
var rank_table = [
<TMPL_LOOP rank>
  { id: <TMPL_VAR account_id>, n: "<TMPL_VAR team_name ESCAPE=HTML>",<TMPL_IF show_points>
    pt: [<TMPL_LOOP columns>'<TMPL_VAR points>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>], tp: <TMPL_VAR total_points><TMPL_ELSE>
    tm: [<TMPL_LOOP columns>'<TMPL_VAR time>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>],
    td: [<TMPL_LOOP columns>'<TMPL_VAR td>'<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>],
    ts: <TMPL_VAR total_solved>, ttm: <TMPL_VAR total_time></TMPL_IF>, rc: <TMPL_VAR row_color>,
    pl: <TMPL_VAR place>, st: '<TMPL_IF is_ooc>ooc</TMPL_IF><TMPL_IF is_remote> remote</TMPL_IF><TMPL_IF is_virtual> virtual</TMPL_IF>',
    t: "<TMPL_VAR city ESCAPE=HTML>"
  }<TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP>
];

function td(text, attr) { document.write('<td' + (attr == null ? '' : ' ' + attr) + '>' + text + '</td>'); }

for(var i = 0; i < rank_table.length; ++i) {
    var r = rank_table[i];
    document.write('<tr align="center"' + (r.rc ? '' : ' bgcolor="#f4f4f4"') + '>');
    td((i + 1) + '&nbsp;', 'align="right"');
    td('<a href="<TMPL_VAR href_console>;uf=' + r.id + '" title="' + r.t + '">' + r.n + '</a>', 'align="left"');
    <TMPL_IF show_points>
    for (var j = 0; j < r.pt.length; ++j) td(r.pt[j]);
    td(r.tp);
    <TMPL_ELSE>
    for (var j = 0; j < r.tm.length; ++j) td('<p>' + r.tm[j] + '</p>' + r.td[j]);
    td(r.ts); td(r.ttm);
    </TMPL_IF>
    td(r.pl); td(r.st, 'class="ts"'); document.write('</tr>');
}
--></script></TMPL_IF>
</TMPL_IF>
<tr <TMPL_UNLESS problem_stats_color>bgcolor="#f4f4f4"</TMPL_UNLESS>>
  <td>&nbsp;</td>
  <TMPL_IF show_points>
  <td>Средний балл</td><TMPL_LOOP problem_stats><td align="center"><TMPL_VAR average_points></td></TMPL_LOOP>
  <td colspan="3">&nbsp;</td>
  <TMPL_ELSE>
  <td>Успешных попыток</td>
  <TMPL_LOOP problem_stats>
    <td align="center"><p><TMPL_VAR total_accepted> / <TMPL_VAR total_runs></p><TMPL_VAR percent_accepted>%</td>
  </TMPL_LOOP>
  <td colspan="4">&nbsp;</td>
  </TMPL_IF>
</tr>
</table>
</TMPL_IF>
