<TMPL_INCLUDE 'includes/header.inc'>
</head>
<body>

<TMPL_INCLUDE 'includes/sources_info.inc'>
<br/>

<form action="<TMPL_VAR href_current_link>" method="post">
  <select name="comment_enc">
  <TMPL_LOOP source_encodings>
  <option value="<TMPL_VAR enc>"<TMPL_IF selected>selected="selected"</TMPL_IF>><TMPL_VAR enc></option>
  </TMPL_LOOP>
  </select>
  <input type="submit" class="button" value="кодировка" />
</form>

<table><tr valign="top">
<TMPL_LOOP runs>
<td>
<table class="bordered">
<TMPL_IF judge_log_dump>
  <tr><td><pre><TMPL_VAR judge_log_dump></pre></td></tr>
<TMPL_ELSE>
<tr>
  <th>Тест</th>
  <th>Результат</th>
  <TMPL_IF show_points>
    <th>Баллы</th>
  </TMPL_IF>
  <TMPL_IF show_test_resources>
    <th>Время, сек</th>
    <th>Память</th>
    <th>Диск</th>
  </TMPL_IF>
  <TMPL_IF show_checker_comment>
    <th>Примечание</th>
  </TMPL_IF>
</tr>
<TMPL_LOOP run_details>
<tr <TMPL_IF accepted> class="run_details_OK"</TMPL_IF
 ><TMPL_IF wrong_answer> class="run_details_WA"</TMPL_IF
 ><TMPL_IF presentation_error> class="run_details_PE"</TMPL_IF
 ><TMPL_IF time_limit_exceeded> class="run_details_TL"</TMPL_IF
 ><TMPL_IF memory_limit_exceeded> class="run_details_ML"</TMPL_IF
 ><TMPL_IF runtime_error> class="run_details_RE"</TMPL_IF
 ><TMPL_IF not_processed> class="run_details_NP"</TMPL_IF
 ><TMPL_IF not_in_testset> class="run_details_NT"</TMPL_IF
 ><TMPL_IF install_processing> class="run_details_IN"</TMPL_IF
 ><TMPL_IF now_testing> class="run_details_IN"</TMPL_IF
>>
  <td><TMPL_VAR test_rank></td>
  <td><TMPL_IF not_processed>Not processed</TMPL_IF
 ><TMPL_IF not_in_testset>Not in testset</TMPL_IF
 ><TMPL_IF install_processing>Installing problem</TMPL_IF
 ><TMPL_IF unhandled_error>Unhandled error</TMPL_IF
 ><TMPL_IF testing>Now testing</TMPL_IF
 ><TMPL_IF accepted>OK</TMPL_IF
 ><TMPL_IF wrong_answer>WA</TMPL_IF
 ><TMPL_IF presentation_error>PE</TMPL_IF
 ><TMPL_IF time_limit_exceeded>Time</TMPL_IF
 ><TMPL_IF memory_limit_exceeded>Memory</TMPL_IF
 ><TMPL_IF runtime_error>Runtime</TMPL_IF
 ><TMPL_IF compilation_error>Compilation error</TMPL_IF
 ><TMPL_IF security_violation>Security violation</TMPL_IF
 ></td>
  <TMPL_IF show_points><td><TMPL_VAR NAME=points></td></TMPL_IF>
  <TMPL_IF show_test_resources>
    <td><TMPL_VAR NAME=time_used></td>
    <td align="right"><TMPL_VAR NAME=memory_used></td>
    <td align="right"><TMPL_VAR NAME=disk_used></td>
  </TMPL_IF>
  <TMPL_IF show_checker_comment><td><TMPL_VAR NAME=checker_comment></td></TMPL_IF>
</tr>
</TMPL_LOOP>
<TMPL_IF show_points><tr><td colspan="2">Всего</td><td><TMPL_VAR total_points></td></tr></TMPL_IF>
</TMPL_IF>
</table>
</td>
</TMPL_LOOP>
</tr></table>

<font size="-3" color="#808080"><TMPL_VAR request_process_time> <TMPL_VAR init_time></font>
</body>
</html>