<html><head>
<title>CATS</title>
<meta name="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="./docs/std/main.css">
</head>
<body>

<TMPL_INCLUDE 'includes/sources_info.inc'>
<br/>
[ <a href="<TMPL_VAR NAME=href_run_details>">Таблица результатов</a>
| <a href="<TMPL_VAR NAME=href_view_source>">Исходный код</a>
]

<form method=post enctype='multipart/form-data'>

<input type=submit name='set_state' value='результат тестирования:' class=button>
<select name='state'>
<option>
<option value='not_processed'>Перетестировать
<option value='accepted'>Solution accepted
<option value='wrong_answer'>Wrong answer
<option value='presentation_error'>Presentation error
<option value='time_limit_exceeded'>Time limit exceeded
<option value='memory_limit_exceeded'>Memory limit exceeded
<option value='runtime_error'>Runtime error
<option value='compilation_error'>Compilation error
<option value='security_violation'>Security violation
</select> 
on test #
<select name='failed_test'>
<option>
<TMPL_LOOP tests>
<option value='<TMPL_VAR test_index>'><TMPL_VAR test_index>
</TMPL_LOOP>
</select>

</form>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<TMPL_IF href_previous_attempt>
<a href="<TMPL_VAR href_previous_attempt>">Предыдущая попытка (<TMPL_VAR previous_attempt_time>)</a>
[<a href="<TMPL_VAR href_diff_runs>">diff</a>]<br/>
</TMPL_IF>

<p>Среда разработки: <TMPL_VAR de_name ESCAPE=HTML>, имя файла: <TMPL_VAR file_name ESCAPE=HTML></p>

<TMPL_IF judge_log_dump_avalaible>
<h3>Дамп лога судьи:</h3>
<pre><code><TMPL_VAR judge_log_dump ESCAPE=HTML></code></pre>
</TMPL_IF>

</table>
</body>
</html>