<TMPL_INCLUDE 'includes/menu_begin.inc'>
<TMPL_IF editable>
<script type="text/javascript">
function getSelectedButton(button) {
    if (button == null) return -1;
    if (button.checked) return button.value;
    for (var i = 0; i < button.length; i++)
        if (button[i].checked)
            return button[i].value;
    return -1; //no button selected
}

var a = new Array();
<TMPL_LOOP problems>
a["<TMPL_VAR problem_id>"] = new Array(
  "<TMPL_VAR problem_name ESCAPE=HTML>", "<TMPL_VAR href_delete>", "<TMPL_VAR href_replace>",
  "<TMPL_VAR href_change_status>", "<TMPL_VAR href_change_code>");
</TMPL_LOOP>

</script>
</TMPL_IF>
<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br/></TMPL_IF>
<i>Всего в очереди: <TMPL_VAR total_queue></i><br/>

<form method="post" enctype="multipart/form-data" name="problems_form" style="margin: 0">
<TMPL_INCLUDE 'includes/listview_header.inc'>
<table width="100%" cellpadding="2" cellspacing="1" class="bordered">
<tr bgcolor="#ccccff">
<th width="1%">&nbsp;</th>
<TMPL_INCLUDE 'includes/listview_col_defs.inc'>
</tr>
<TMPL_LOOP problems>
<tr bgcolor=<TMPL_IF odd>"#f0f0f0"<TMPL_ELSE>"#ffffff"</TMPL_IF>>
<td width="1%">
  <input type="checkbox" name="problem_id" value="<TMPL_VAR problem_id>" />
</td>
<td>
    <a href="<TMPL_VAR href_view_problem>" target="_blank"><TMPL_VAR code> - <TMPL_VAR problem_name ESCAPE=HTML></a>
</td>
<td><TMPL_VAR in_queue></td>
<td><TMPL_VAR status></td>
<td><a href="<TMPL_VAR href_select_testsets>"><TMPL_VAR testsets></a></td>
<td align="center"><TMPL_VAR accept_count> / <TMPL_VAR wa_count>  / <TMPL_VAR tle_count></td>
</tr>
</TMPL_LOOP>
</table>
<br/>
<input type="submit" name="mass_retest" value="перетестировать" class="button" />
<input type="submit" name="recalc_points" value="переоценить" class="button" />
<input type="checkbox" name="all_runs" value="1"/> все попытки 
</form>
<TMPL_INCLUDE 'includes/menu_end.inc'>
