<TMPL_INCLUDE 'includes/menu_begin.inc'>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i></TMPL_IF>

<form method=post enctype='multipart/form-data' action='<TMPL_VAR href_action>'>
<table cellpadding=0>
<tr><td>Код среды разработки</td><td><input type=text name='code' class=bordered></td>
<tr><td>Описание</td><td><input type=text name='description' class=bordered></td>
<tr><td>Поддерживаемые расширения файлов</td><td><input type=text name='supported_ext' class=bordered></td>
<tr><td>Добавочная рамять, Мб</td><td><input type=text name='memory_handicap' class=bordered></td>
<tr><td>Синтаксис</td><td><input type=text name='syntax' class=bordered></td>
<tr><td>Заблокирована</td><td><input type=checkbox name='locked'></td>
</table>
<br>
<input type=submit name='new_save' value='     Ok     ' class=button> 
<input type=submit name='new_cancel' value='Отмена' class=button>
</form>

<TMPL_INCLUDE 'includes/menu_end.inc'>