<TMPL_INCLUDE 'includes/menu_begin.inc'>
<form method="post" enctype="multipart/form-data">
<script type="text/javascript">
function send_message(href)
{
    window.open(href, '', 'width=500,height=400,location=no,menubar=no,resizable=yes,scrollbars=no,status=no,toolbar=no');
}
function get_element(name)
{
  if (document.all)
      return document.all(name);
  else
      return document.getElementById(name);
}
function add_id(id)
{
    var e = get_element('selection');
    if (e.value != '') e.value += ',';
    e.value += id;
}
function clear_selection()
{
    var e = get_element('selection');
    e.value = '';
}
function fill_diff()
{
    var a = get_element('a_diff');
    var e = get_element('selection');
    var re = /^(\d+),(\d+)$/;
    var rs = re.exec(e.value);
    if (rs == null || rs.length != 3 || 0 >= rs[1] || 0 >= rs[2])
    {
        alert('Укажите две попытки для сравнения');
        return false;
    }
    a.href = '<TMPL_VAR href_diff>&r1=' + rs[1] + '&r2=' + rs[2];
    e.value = '';
    return true;
}
function fill_1(aid, arg)
{
    var a = get_element(aid);
    var e = get_element('selection');
    if (!e.value.match(<TMPL_IF is_jury>/^[0-9,]+$/<TMPL_ELSE>/^\d+$/</TMPL_IF>))
    {
        alert('Укажите попытку');
        return false;
    }
    a.href = arg + e.value;
    e.value = '';
    return true;
}
</script>
<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br/></TMPL_IF>
<span id="refreshable_content">
<br/>Идет загрузка страницы...<br/>
</span>
<TMPL_IF is_team>
<br/>
    <table cellpadding="6" cellspacing="0" class="bordered">
<TMPL_IF is_jury>
    <tr><td>
    Выбор: <input type="text" id="selection" name="selection" value="<TMPL_VAR selection>" class="bordered" />
    [ <a href="#" onclick="clear_selection(); return false;">очистить</a>
    | <a id="a_source" href="<TMPL_VAR href_view_source>" target="_blank"
      onclick="return fill_1('a_source', '<TMPL_VAR href_view_source>&rid=');">программа</a>
    | <a id="a_run_details" href="<TMPL_VAR href_run_details>" target="_blank"
      onclick="return fill_1('a_run_details', '<TMPL_VAR href_run_details>&rid=');">результаты</a>
    | <a id="a_run_log" href="<TMPL_VAR href_run_log>" target="_blank"
      onclick="return fill_1('a_run_log', '<TMPL_VAR href_run_log>&rid=');">лог</a>
    | <a id="a_diff" href="<TMPL_VAR href_diff>" target="_blank"
      onclick="return fill_diff();">сравнить</a>
    ] <input type="submit" value="перетестировать" name="retest" class="button"/>
    </td></tr>
</TMPL_IF>
    <tr bgcolor="#ccccff"><td>
    Вопрос к жюри:
    <input size="100" maxlength="200" name="question_text" value="<TMPL_VAR question_text ESCAPE=HTML>" class="bordered" />
    <input type="submit" value="Отправить" name="send_question" class="button"/>
    </td></tr>
    </table>
</TMPL_IF>
</form>
<iframe width="0" height="0" style="display: none" src="<TMPL_VAR href_console_content>"></iframe>
<TMPL_INCLUDE "includes/menu_end.inc">