<TMPL_INCLUDE 'includes/menu_begin.inc'>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<form method=post enctype='multipart/form-data' action='<TMPL_VAR href_action>'>
<TMPL_INCLUDE 'includes/user_main.inc'>
<table class="registration">
<tr><td>Пароль</td><td> <input type=password name='password1' size=50 class=bordered></td></tr>
<tr><td>Пароль (подтверждение)</td><td> <input type=password name='password2' size=50 class=bordered></td></tr>
<table>
<TMPL_INCLUDE 'includes/user_extra.inc'>
<br/>
<input type=submit name='new_save' value='     Ok     ' class=button> 
<input type=submit name='new_cancel' value='Отмена' class=button>
</form>

<TMPL_INCLUDE 'includes/menu_end.inc'>
