<TMPL_INCLUDE 'includes/menu_begin.inc'>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<form method=post enctype='multipart/form-data' action='<TMPL_VAR href_action>'>
<TMPL_INCLUDE 'includes/user_main.inc'>
<TMPL_INCLUDE 'includes/user_extra.inc'>
<table class="registration">
<tr><td>Изменить пароль</td><td><input type=checkbox name=set_password></td></tr>
<tr><td>Пароль</td><td> <input type=password name='password1' size=50 class=bordered></td></tr>
<tr><td>Пароль (подтверждение)</td><td> <input type=password name='password2' size=50 class=bordered></td></tr>
</table>
<br/>
<input type=hidden name='id' value="<TMPL_VAR id>">
<input type=submit name='edit_save' value='     Ok     ' class=button> 
<input type=submit name='edit_cancel' value='Отмена' class=button>
</form>
<TMPL_IF is_root>
<p>[ <a href="<TMPL_VAR href_impersonate>">Войти под этим пользователем</a> ]</p>
</TMPL_IF>
<TMPL_INCLUDE 'includes/menu_end.inc'>
