<TMPL_INCLUDE 'includes/menu_begin.inc'>

<form method="post" enctype="multipart/form-data" action="<TMPL_VAR href_action>">
<TMPL_IF linked_problem>
    Замещение этой задачи невозможно т.к. она прилинкована<br><br>
    <input type=submit name='replace_cancel' value='     Ok     ' class=button>
<TMPL_ELSE>
    Заменить задачу: <TMPL_VAR problem_name ESCAPE=HTML><br><br>
    Zip-архив с задачей: 
    <input type=file name="zip" class=button>
    <br><br>
    <input type=hidden name='id' value="<TMPL_VAR id>">
    <input type=submit name='replace_save' value='     Ok     ' class=button> 
    <input type=submit name='replace_cancel' value='Отмена' class=button>
</TMPL_IF>
</form>
<TMPL_INCLUDE 'includes/menu_end.inc'>
