<TMPL_INCLUDE 'includes/menu_begin.inc'>
<TMPL_IF editable>
<script type="text/javascript">
function getSelectedButton(button) {
    if (button == null) return -1;
    if (button.checked) return button.value;
    for (var i = 0; i < button.length; i++)
        if (button[i].checked)
            return button[i].value;
    return -1; //no button selected
}

var a = new Array();
<TMPL_LOOP problems>
a["<TMPL_VAR problem_id>"] = new Array(
  "<TMPL_VAR problem_name ESCAPE=HTML>", "<TMPL_VAR href_delete>", "<TMPL_VAR href_replace>",
  "<TMPL_VAR href_change_status>", "<TMPL_VAR href_change_code>");
</TMPL_LOOP>

function d() {
    var v = getSelectedButton(document.problems_form.problem_id);
    if (v < 0) {
        alert('Не выбрана задача для удаления');
        return;
    }
    if (confirm("Вы действительно желаете удалить задачу '" + a[v][0] + "'?"))
        document.location = a[v][1];
}

function r() {
    var v = getSelectedButton(document.problems_form.problem_id);
    if (v < 0)
        alert('Не выбрана задача для замены');
    else
        document.location = a[v][2];
}

function chg_status(st_sel, pid)
{
    document.location = a[pid][3] + '&status=' + st_sel.value;
}

function chg_code(st_sel, pid)
{
    document.location = a[pid][4] + '&code=' + st_sel.value;
}

</script>
</TMPL_IF>
<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br/></TMPL_IF>

<TMPL_IF problem_import_log>
Лог загрузки задачи:<br/>
<textarea cols="100" rows="10" readonly="readonly">
<TMPL_VAR problem_import_log>
</textarea>
</TMPL_IF>

<TMPL_IF solution_submitted>
<TMPL_IF de_name>Определена среда разработки: '<TMPL_VAR de_name ESCAPE=HTML>'.<br/></TMPL_IF>
Для наблюдения за ходом тестирования откройте <a href="<TMPL_VAR href_console>" target="_top">консоль</a>.
<hr/>
</TMPL_IF>

<form method="post" enctype="multipart/form-data" name="problems_form" style="margin: 0">
<TMPL_INCLUDE 'includes/listview_header.inc'>
<table width="100%" cellpadding="2" cellspacing="1" class="bordered">
<TMPL_IF is_team>
<tr bgcolor="#ccccff">
<th width="1%">&nbsp;</th>
<TMPL_INCLUDE 'includes/listview_col_defs.inc'>
</tr>
</TMPL_IF>
<TMPL_LOOP problems>
<tr bgcolor=<TMPL_IF odd>"#f0f0f0"<TMPL_ELSE>"#ffffff"</TMPL_IF>>
<TMPL_IF is_team><td width="1%">
  <input type="radio" name="problem_id" value="<TMPL_VAR problem_id>"<TMPL_IF disabled> disabled="disabled"</TMPL_IF> />
</td></TMPL_IF>
<td>
    <TMPL_IF editable><TMPL_IF code
      ><select onchange="chg_code(this, <TMPL_VAR problem_id>)"><TMPL_LOOP code_array
        ><option value="<TMPL_VAR code>"<TMPL_IF selected> selected="selected"</TMPL_IF>><TMPL_VAR code></option></TMPL_LOOP
    ></select> </TMPL_IF><a href="<TMPL_VAR href_view_problem>" target="_blank">
    <TMPL_ELSE
      ><a href="<TMPL_VAR href_view_problem>" target="_blank"><TMPL_IF code><TMPL_VAR code> - </TMPL_IF></TMPL_IF><TMPL_VAR problem_name ESCAPE=HTML></a>
    <TMPL_IF href_explanation>&nbsp;[<a href="<TMPL_VAR href_explanation>" target="_blank">разбор</a>]</TMPL_IF>
    <TMPL_IF show_packages>&nbsp;[<a href="<TMPL_VAR href_download>">пакет</a>]</TMPL_IF>
    <TMPL_IF href_compare_tests>&nbsp;[<a href="<TMPL_VAR href_compare_tests>">т</a>]</TMPL_IF>
</td>
<TMPL_IF editable>
<td>
    <select onchange="chg_status(this, <TMPL_VAR problem_id>)">
    <TMPL_LOOP status_list><option value="<TMPL_VAR id>"<TMPL_IF selected> selected="selected"</TMPL_IF>><TMPL_VAR name ESCAPE=HTML></option></TMPL_LOOP>
    </select><TMPL_IF is_linked> [<a href="<TMPL_VAR href_original_contest>" title="<TMPL_VAR contest_name>">L</a>]</TMPL_IF>
</td>
<td><a href="<TMPL_VAR href_select_testsets>"><TMPL_VAR testsets></a> (<TMPL_VAR test_count>)</td>
<td><TMPL_VAR last_modified_by></td>
<td align="right"><TMPL_VAR upload_date></td>
</TMPL_IF>
<TMPL_IF is_practice><td><TMPL_VAR contest_name ESCAPE=HTML></td></TMPL_IF>
<TMPL_IF is_team>
    <td align="center"><TMPL_VAR accept_count> / <TMPL_VAR wa_count>  / <TMPL_VAR tle_count></td>
</TMPL_IF>
</tr>
</TMPL_LOOP>
</table>
<br/>
<TMPL_IF is_team>
<table><tr>
    <td>Файл с решением:</td><td><input type="file" name="source" class="file" size="25"/></td>
    <TMPL_IF editable>
      <td>&nbsp;</td><td>Файл с задачей:</td>
      <td><input type="file" name="zip" class="file" size="25"/>
      <input type="checkbox" name="allow_rename" value="1"/> переим.</td></TMPL_IF>
</tr><tr>
    <td>Среда разработки:</td><td>
      <select name="de_id">
      <TMPL_LOOP de_list><option value="<TMPL_VAR de_id>"><TMPL_VAR de_name ESCAPE=HTML></option></TMPL_LOOP>
      </select>
    </td>
    <TMPL_IF editable><td colspan="3">&nbsp;</td></TMPL_IF>
</tr><tr>
    <td colspan="2">
        <input type="submit" name="submit" value="отправить" class="button" />
        <TMPL_IF editable><input type="submit" name="std_solution" value="эталонное решение" class="button" /></TMPL_IF>
    </td>
    <TMPL_IF editable><td>&nbsp;</td><td colspan="2">
        <input type="button" name="delete" value="удалить" class="button" onclick="d()" />
        <input type="submit" name="replace" value="заменить" class="button" />
        <input type="submit" name="add_new" value="добавить" class="button" />
    </td></TMPL_IF>
</tr></table>
</TMPL_IF>
</form>
<TMPL_INCLUDE 'includes/menu_end.inc'>
