<TMPL_INCLUDE 'includes/menu_begin.inc'>
<h3>Задача: <TMPL_VAR problem_title></h3>
<table style="text-align: right" class="bordered">
<tr><td>&nbsp;</td><TMPL_LOOP comparision_matrix><td width="20px"><TMPL_VAR test_rank></td></TMPL_LOOP>
<td>Passed</td><td>Failed</td>
</tr>
<TMPL_LOOP comparision_matrix>
<tr><td><TMPL_VAR test_rank></td>
<TMPL_LOOP data><td <TMPL_UNLESS n>style="background-color: #FFC0C0"</TMPL_UNLESS>><TMPL_VAR n></td></TMPL_LOOP>
<td><TMPL_VAR passed_count></td><td><TMPL_VAR failed_count></td>
</tr>
</TMPL_LOOP>
</table>
<br/>
<TMPL_IF equiv_lists>
Эквивалентные тесты:
<TMPL_LOOP equiv_lists> (<TMPL_VAR eq>) </TMPL_LOOP><br/>
</TMPL_IF>
<TMPL_IF simple_tests>
Простые тесты:
<TMPL_LOOP simple_tests><TMPL_VAR t><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP><br/>
</TMPL_IF>
<TMPL_IF hard_tests>
Сложные тесты:
<TMPL_LOOP hard_tests><TMPL_VAR t><TMPL_UNLESS __last__>,</TMPL_UNLESS></TMPL_LOOP><br/>
</TMPL_IF>

<TMPL_INCLUDE 'includes/menu_end.inc'>
