<TMPL_INCLUDE 'includes/menu_begin.inc'>

<script type="text/javascript">
function delete_contest(href, name)
{
    if (confirm( "Вы действительно желаете удалить турнир '" + name + "'?" ))
    {
        document.location=href;
    }
}

function confirm_registration()
{
    return confirm("Внимание! Повторная виртуальная регистрация приведет к удалению попыток. Продолжить?");
}
</script>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>
<form method="post" enctype="multipart/form-data" action="<TMPL_VAR href_contests>" id="contest_form">
<TMPL_INCLUDE 'includes/listview_header.inc'>

<table border=0 width="100%" cellpadding=2 cellspacing=1 class=bordered>
<tr bgcolor="#ccccff">
<TMPL_INCLUDE 'includes/listview_col_defs.inc'>
</tr>

<TMPL_LOOP contests>
<tr bgcolor="#ffffff">
<td>
    <input type="checkbox" name="contests_selection" value="<TMPL_VAR id>" />
    <TMPL_IF deletable>
    <a href='javascript:delete_contest("<TMPL_VAR href_delete>", "<TMPL_VAR contest_name ESCAPE=HTML>");''><img src="./images/std/waste2.gif" border=0></a> 
    </TMPL_IF>
    <TMPL_IF editable>
    <a href="<TMPL_VAR href_params>"><img src="./images/std/edit.gif" border=0 alt=""></a> 
    <TMPL_ELSE>
    <a href="<TMPL_VAR href_params>"><img src="./images/std/blank.gif" border=0 alt="Параметры"></a> 
    </TMPL_IF>
    <a href="<TMPL_VAR href_contest>" <TMPL_IF selected> style="color: #000000; background-color: #ccccff"</TMPL_IF selected>>
    <TMPL_VAR contest_name ESCAPE=HTML>
    </a>
</td>
<td align=center><TMPL_VAR start_date ESCAPE=HTML></td>
<td align=center><TMPL_VAR finish_date ESCAPE=HTML></td>
<td>
    <TMPL_UNLESS registration_denied><TMPL_IF registered_online>участник</TMPL_IF
    ><TMPL_IF registered_virtual>виртуальный участник</TMPL_IF
    > </TMPL_UNLESS
    > <TMPL_IF is_official><font color="blue">официальный</font></TMPL_IF
    > <TMPL_IF registration_denied><font color="red">регистрация закрыта</font></TMPL_IF
    > <TMPL_IF show_points><font color="green">школьные правила</font></TMPL_IF
    > <TMPL_IF is_hidden><font color="gray">скрытый</font></TMPL_IF>
</td>
</tr>
</TMPL_LOOP>
</table>
<br>
<TMPL_IF authorized>
<TMPL_UNLESS is_registered><input type="submit" value="участвовать" name="online_registration" class="button" />
</TMPL_UNLESS>
<input type="submit" name="virtual_registration"
    value="участвовать виртуально" class="button" onclick="return confirm_registration()" />
<input type="hidden"  value="0" />
</TMPL_IF>
<input type="submit" name="summary_rank" value="суммарная таблица" class="button" />
</form>
<TMPL_IF authorized><TMPL_UNLESS is_registered>
<ul>
<li><b>Виртуальное участие</b> позволяет решать задачи со сдвигом по времени, даже после окончания тура
<li>Команда может участвовать виртуально, если она не принимала участие online
<li>Команда может регистрироваться виртуально несколько раз
</ul>
</TMPL_UNLESS></TMPL_IF>
<TMPL_INCLUDE 'includes/menu_end.inc'>
