<TMPL_INCLUDE 'includes/header.inc'>
</head>
<body>
<script type="text/javascript">
<!--
function show_ab(a, b)
{
    var css = document.styleSheets[0];
    if (!css) return;
    var rules = new Array();
    if (css.cssRules) rules = css.cssRules
    else if (css.rules) rules = css.rules
    for (i = 0; rules.length > i; ++i)
        if (rules[i].selectorText == ".diff_only_a")
            rules[i].style.display = a;
        else if (rules[i].selectorText == ".diff_only_b")
            rules[i].style.display = b;
}
//-->
</script>
Сравнение отправленных файлов:
<TMPL_INCLUDE 'includes/sources_info.inc'>
<p>
Показывать:
[ <a onclick="show_ab('', ''); return false" href="#">diff</a>
| <a onclick="show_ab('', 'none'); return false" href="#">только A</a>
| <a onclick="show_ab('none', ''); return false" href="#">только B</a>
]
</p>
<pre class="bordered"><code><TMPL_LOOP diff_lines><TMPL_VAR line></TMPL_LOOP></code></pre>

</body>
</html>
