<TMPL_INCLUDE 'includes/menu_begin.inc'>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br/></TMPL_IF>
<TMPL_IF successfully_registred>
Регистрация прошла успешно.<br/>
Теперь Вы можете <a href="<TMPL_VAR href_login>">войти</a> в систему и принимать участие в турнирах.
<TMPL_ELSE>
<h3>Регистрация нового пользователя</h3>
<form method="post" enctype="multipart/form-data">
<h4>Обязательные поля</h4>
<TMPL_INCLUDE 'includes/user_main.inc'>
<table class="registration">
<tr><td>Пароль</td><td> <input type=password name='password1' size=50 class=bordered></td></tr>
<tr><td>Пароль (подтверждение)</td><td> <input type=password name='password2' size=50 class=bordered></td></tr>
<table>
<h4>Необязательные поля</h4>
<TMPL_INCLUDE 'includes/user_extra.inc'>
<br/>
<input type="submit" name="register" value="зарегистрироваться" class="button">
</form>

</TMPL_IF>

<TMPL_INCLUDE 'includes/menu_end.inc'>
