<html><head>
<title>CATS - сообщение для команды <TMPL_VAR team ESCAPE=HTML></title>
<meta name="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="./docs/std/main.css">
</head>
<body style="margin: 10px">
<TMPL_UNLESS sent>
<form method="post" enctype="multipart/form-data">
  Сообщение для команды <TMPL_VAR team ESCAPE=HTML><br/>
  <input type="text" size="70" name="message_text" />
  <input type="submit" value="Отправить" name="send" />
  <input type="button" value="Закрыть" onclick="javascript:window.close();">
</form>
<TMPL_ELSE>
<script>window.close();</script>
</TMPL_UNLESS>
</body>
</html>