<TMPL_INCLUDE 'includes/menu_begin.inc'>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<form method=post enctype="multipart/form-data">
<TMPL_INCLUDE 'includes/listview_header.inc'>

<table width=100% cellpadding=2 cellspacing=1 class=bordered>
<tr bgcolor=#ccccff>
<TMPL_IF is_jury><td>&nbsp;</td></TMPL_IF>
<TMPL_INCLUDE 'includes/listview_col_defs.inc'>
</tr>

<TMPL_LOOP import_sources>
<tr bgcolor=#ffffff>
<TMPL_IF is_jury><td>
  <a href="<TMPL_VAR href_problems>" title="<TMPL_VAR title>"><img src="./images/std/blank.gif" border="0"></a>
</td></TMPL_IF>
<td><a href="<TMPL_VAR href_source>" title="<TMPL_VAR fname ESCAPE=HTML>"><TMPL_VAR guid ESCAPE=HTML> (<TMPL_VAR fname ESCAPE=HTML>)</a></td>
<td><TMPL_VAR stype_name></td>
<td><TMPL_VAR code></td>
<td><TMPL_VAR ref_count></td>
</tr>
</TMPL_LOOP>
</table>

</form>

<TMPL_INCLUDE 'includes/menu_end.inc'>
