<TMPL_INCLUDE 'includes/menu_begin.inc'>
<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<b>В разработке системы принимали участие:</b>

<p>
<ul>
  <li>Кленин Александр -- руководитель проекта, автор версий системы с 1.1 по текущую</li>
  <li>Рожков Михаил -- начальная реализация, версии системы с 0.1 по 1.0</li>
  <li>Матвиенко Виктор -- модуль работы с формулами в формате TeX</li>
  <li>Коновалова Дарья -- модуль распознавания плагиата</li>
  <li>Туфанов Игорь -- универсальный генератор тестов</li>
  <li>Обуховская Злата -- графика и дизайн</li>
</ul>
</p>

<TMPL_INCLUDE 'includes/menu_end.inc'>
