<TMPL_INCLUDE 'includes/menu_begin.inc'>

<script>
function delete_kw(href, name)
{
    if (confirm( "Вы действительно желаете удалить ключевое слово '" + name + "'?" ))
    {
        document.location=href;
    }
}
</script>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<form method=post enctype='multipart/form-data'>
<TMPL_INCLUDE 'includes/listview_header.inc'>

<table width=100% cellpadding=2 cellspacing=1 class=bordered>
<tr bgcolor=#ccccff>
<TMPL_IF editable><td>&nbsp;</td></TMPL_IF>
<TMPL_INCLUDE 'includes/listview_col_defs.inc'>
</tr>

<TMPL_LOOP keywords>
<tr bgcolor=#ffffff>
<TMPL_IF editable>
<td>
  <a href='javascript:delete_kw("<TMPL_VAR href_delete>", "<TMPL_VAR code ESCAPE=HTML>");''><img src="./images/std/waste2.gif" border=0></a> 
  <a href='<TMPL_VAR href_edit>'><img src="./images/std/blank.gif" border=0></a>
</td>
</TMPL_IF>
<td><a href="<TMPL_VAR href_view_problems>"><TMPL_VAR code ESCAPE=HTML></a></td>
<td><TMPL_VAR name_ru ESCAPE=HTML></td>
<td><TMPL_VAR name_en ESCAPE=HTML></td>
</tr>
</TMPL_LOOP>
</table>

</form>

<TMPL_INCLUDE 'includes/menu_end.inc'>
