<html><head>
<title>CATS - вопрос команды</title>
<meta name="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="./docs/std/main.css">
</head>
<body style="margin: 10px">
<TMPL_UNLESS clarified>
<form method="post" enctype="multipart/form-data">
  <TMPL_VAR team_name ESCAPE=HTML>, <TMPL_VAR submit_time><br/>
  <TMPL_IF answer><br/>Получен ответ:<TMPL_VAR answer><br/><br/></TMPL_IF>
  <br/>
  <div class="bordered"><TMPL_VAR question_text ESCAPE=HTML></div>
  <br/>
  <input type="text" size="70" value="без комментариев" name="answer_text" class="bordered" />
  <br/>
  <br/>
  <input type="submit" value="Ответить" name="clarify" class="button"/> 
  <input type="button" value="Закрыть" onClick="javascript:window.close();" class="button" />
</form>
<TMPL_ELSE>
<script>window.close();</script>
</TMPL_UNLESS>
</body>
</html>