<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>
<table width=100%> 
<tr>
<td align=left>
<TMPL_IF hide_ooc>
    <a href="<TMPL_VAR href_hide_ooc>" target=_top>спрятать ooc-команды</a>
<TMPL_ELSE>
    <a href="<TMPL_VAR href_show_ooc>" target=_top>показать ooc-команды</a>
</TMPL_IF>
| 
<TMPL_IF hide_virtual>
    <a href="<TMPL_VAR href_hide_virtual>" target=_top>спрятать виртуальные команды</a>
<TMPL_ELSE>
    <a href="<TMPL_VAR href_show_virtual>" target=_top>показать виртуальные команды</a>
</TMPL_IF>

</td>
<td align=right>
состояние: <TMPL_IF frozen><font color=#0000a0>заморожена</font><TMPL_ELSE><font color=#00a040>актуальное</font></TMPL_IF>
</td>
</tr>
</table>
<table width="100%" cellspacing="1" class="bordered">
<TMPL_IF many_contests>
<tr bgcolor="#ccccff">
<th colspan="2"></th>
<TMPL_LOOP contests><th colspan="<TMPL_VAR count>"><TMPL_VAR start_date></th></TMPL_LOOP>
<th colspan="4"></th>
</TMPL_IF>
<tr bgcolor="#ccccff">
<th width="1%"></th>
<!-- <th width=1%>Страна -->
<th>Название команды</th>
<TMPL_LOOP problems>
<th width="<TMPL_VAR column_width>%"><TMPL_VAR code></th>
</TMPL_LOOP>
<th width="<TMPL_VAR problem_column_width>%">=</th>
<th>время</th>
<th>место</th>
<th>статус</th>

<TMPL_LOOP rank>
<tr <TMPL_UNLESS row_color>bgcolor=#f4f4f4</TMPL_UNLESS>>
<td align="right"><TMPL_VAR contestant_number>&nbsp;</td>
<!--
<td nowrap align=center bgcolor=#ffffff>
<TMPL_IF flag>
    <img src='<TMPL_VAR NAME=flag>' alt="<TMPL_VAR NAME=country ESCAPE=HTML><TMPL_IF motto> - <TMPL_VAR motto ESCAPE=HTML></TMPL_IF>">
<TMPL_ELSE>
    <TMPL_VAR NAME=country ESCAPE=HTML><TMPL_IF motto> - <TMPL_VAR motto ESCAPE=HTML></TMPL_IF>
</TMPL_IF>    
-->
<td>
<TMPL_VAR team_name ESCAPE=HTML></td>
<TMPL_LOOP columns>
<td align=center><font size="1"><TMPL_VAR time ESCAPE=HTML></font><br><TMPL_VAR td ESCAPE=HTML></td>
</TMPL_LOOP>
<td align="center"><TMPL_VAR total_solved></td>
<td align="center"><TMPL_VAR total_time></td>
<td align="center"><TMPL_VAR place></td>
<td align="center"><font size="-1"><i>
  <TMPL_IF is_ooc>ooc</TMPL_IF><TMPL_IF is_remote> remote</TMPL_IF><TMPL_IF is_virtual> virtual</TMPL_IF>
  </i></font></td>
</tr>
</TMPL_LOOP>
<tr <TMPL_UNLESS problem_stats_color>bgcolor=#f4f4f4</TMPL_UNLESS>>
  <td>&nbsp;</td><td>Успешных попыток</td>
  <TMPL_LOOP problem_stats>
    <td align="center"><font size="1"><TMPL_VAR total_accepted> / <TMPL_VAR total_runs></font><br>
    <TMPL_VAR percent_accepted>%</td>
  </TMPL_LOOP>
  <td colspan="4">&nbsp;</td>
</tr>
</table><br>