<TMPL_INCLUDE 'includes/console_listview_header.inc'>
<table width="100%" cellspacing="3" cellpadding="3" class="bordered console">
<TMPL_LOOP console>
<tr>
<TMPL_IF is_submit_result>
    <td nowrap width="1%">
        <TMPL_IF is_jury>
            <a href="#" onclick="add_id(<TMPL_VAR id>); return false;" title="<TMPL_VAR id>"><TMPL_VAR time></a>
        <TMPL_ELSE>
            <TMPL_IF href_details><a href="<TMPL_VAR href_details>" target="_blank"><TMPL_VAR time></a>
            <TMPL_ELSE><span class="linksize"><TMPL_VAR time></span></TMPL_IF>
        </TMPL_IF>
    </td>
    <td nowrap width="1%">
	<TMPL_IF is_jury>
        <a href="javascript:send_message('<TMPL_VAR href_send_message_box>')"><TMPL_VAR team_name ESCAPE=HTML></a>
        [<a href="http://whois.domaintools.com/<TMPL_VAR last_ip_short>" alt="<TMPL_VAR last_ip>" title="<TMPL_VAR last_ip>"><TMPL_VAR last_ip_short></a>]
	<TMPL_ELSE>
        <TMPL_VAR team_name ESCAPE=HTML>
	</TMPL_IF>
    </td>
    <td>
        <TMPL_VAR problem_title>: <b><TMPL_IF not_processed><font color="#008000">Not processed</font></TMPL_IF
        ><TMPL_IF install_processing><font color="#a0a000">Processing</font></TMPL_IF
        ><TMPL_IF unhandled_error><font color="#a00000">Unhandled error</font></TMPL_IF
        ><TMPL_IF testing><font color="#a0a000">Processing</font></TMPL_IF
        ><TMPL_IF accepted><font color="#007f00">Solution accepted</font></TMPL_IF
        ><TMPL_IF rejected>Solution rejected</TMPL_IF
        ><TMPL_IF wrong_answer>Wrong answer on test <TMPL_VAR failed_test_index></TMPL_IF
        ><TMPL_IF presentation_error>Presentation error on test <TMPL_VAR failed_test_index></TMPL_IF
        ><TMPL_IF time_limit_exceeded>Time limit exceeded on test <TMPL_VAR failed_test_index></TMPL_IF
        ><TMPL_IF memory_limit_exceeded>Memory limit exceeded on test <TMPL_VAR failed_test_index></TMPL_IF
        ><TMPL_IF runtime_error>Runtime error on test <TMPL_VAR failed_test_index></TMPL_IF
        ><TMPL_IF compilation_error>Compilation error</TMPL_IF
        ><TMPL_IF security_violation>Security violation</TMPL_IF
        ><TMPL_IF ignore_submit>Ignored submission</TMPL_IF></b>
    </td>
</TMPL_IF><TMPL_IF is_question>
    <td nowrap width=1%><TMPL_VAR time></td>
    <td align=left nowrap>
        [<TMPL_VAR team_name ESCAPE=HTML><TMPL_IF is_jury>:
        <TMPL_IF last_ip><a href="#" alt="<TMPL_VAR last_ip>" title="<TMPL_VAR last_ip>"><TMPL_VAR last_ip_short></a><TMPL_ELSE><TMPL_VAR last_ip_short></TMPL_IF>
        </TMPL_IF> &gt; жюри]
    </td>
    <td>
        <i><TMPL_VAR question_text ESCAPE=HTML></i> - 
        <TMPL_UNLESS clarified>
        <TMPL_IF href_answer_box>
        <a href="<TMPL_VAR href_answer_box>" target="_blank" class="small">[ответить]</a>
        </TMPL_IF>
        <TMPL_ELSE>
        <font color=red><TMPL_VAR answer_text ESCAPE=HTML></font>
        </TMPL_UNLESS>
        <TMPL_IF href_delete><a href="<TMPL_VAR href_delete>" class="small">[удалить]</a></TMPL_IF>
    </td>
</TMPL_IF><TMPL_IF is_message>
    <td nowrap width=1%><TMPL_VAR time></td>
    <td align=left>
        [жюри &gt; <TMPL_VAR team_name ESCAPE=HTML>]
    </td>
    <td>
        <font color=red><TMPL_VAR message_text ESCAPE=HTML></font>
    </td>
</TMPL_IF><TMPL_IF is_broadcast>
    <td nowrap width=1%><TMPL_VAR time></td>
    <td align=left>
        <b><font color="#ff0000">[жюри &gt; всем командам]</font></b>
    </td>
    <td>
        <b><font color=red><TMPL_VAR message_text ESCAPE=HTML></font></b>
    </td>
</TMPL_IF><TMPL_IF is_contest>
    <td nowrap width=1%><TMPL_VAR time></td>
    <td align=left>
        <b><TMPL_IF contest_start>Начался<TMPL_ELSE>Закончился</TMPL_IF>
        <TMPL_IF is_official>официальный </TMPL_IF>турнир</b>
    </td>
    <td>
        <b><a href="<TMPL_VAR href_problems>"><TMPL_VAR problem_title ESCAPE=HTML></a></b>
    </td>
</TMPL_IF>
</tr>
</TMPL_LOOP>
</table>
<script>
<TMPL_LOOP envelopes>
window.open("<TMPL_VAR href_envelope>", '', 'width=500,height=400,location=no,menubar=no,resizable=yes,scrollbars=no,status=no,toolbar=no');
</TMPL_LOOP>
</script>