<TMPL_INCLUDE 'includes/menu_begin.inc'>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<form method=post name=cmp_form>
<TMPL_INCLUDE 'includes/listview_header.inc'>
<table border=0 width=100% cellpadding=2 cellspacing=1 class=bordered>
<TMPL_IF is_team>
<tr bgcolor=#ccccff>
<TMPL_INCLUDE 'includes/listview_col_defs.inc'>
</tr>   
</TMPL_IF>
<TMPL_LOOP problems>
<tr bgcolor=#ffffff>
<td>
    <TMPL_IF is_team>
    <input type=radio name='problem_id' value='<TMPL_VAR problem_id>'>
    </TMPL_IF>
    <a href="<TMPL_VAR href_view_problem>" target=_blank><TMPL_VAR problem_name ESCAPE=HTML></a>
</td>
<TMPL_IF is_practice>
    <td>
        <TMPL_VAR contest_name ESCAPE=HTML>
    </td>
</TMPL_IF>
<TMPL_IF is_team>
    <td width=7% align=center>
        <TMPL_VAR accept_count>
    </td>
    <td width=7% align=center>
        <TMPL_VAR wa_count>
    </td>
    <td width=7% align=center>
	<TMPL_VAR tle_count>
    </td>
</TMPL_IF>
</tr>
</TMPL_LOOP>
</table>

<br>

<!--input type=button name="parameters" value="Параметры" class="button" /-->
<input type=submit name="showtable" value="Показать таблицу" class="button"/>
</form>
<TMPL_INCLUDE 'includes/menu_end.inc'>
