<TMPL_INCLUDE 'includes/menu_begin.inc'>
<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<b>Добро пожаловать в автоматическую проверяющую систему с архивом задач</b><br/><br/>

<p>На базе данной системы проводятся чемпионаты ACM по Дальневосточному региону, 
соревнования школьников, тренировки.</p>

<p>Количество заданий в системе: <b><TMPL_VAR problem_count></b>.</p>

<p>Для того чтобы в полной мере воспользоваться функциональностью системы,
вы должны <a href="main.pl?f=registration;cid=500001">зарегистрироваться</a>.</p>
Регистрация позволит Вам: 
  <ul>
    <li>Принимать участие в соревнованиях, в том числе виртуально -- в прошедших соревнованиях</li>
    <li>Решать задачи из архива от своего имени</li>
    <li>Наблюдать свои достижения в общей рейтинговой таблице участников</li>
  </ul>
  <br/>

Доступна <a href="docs/">документация</a>, в том числе <a href="docs/format.html">формат заданий</a>
и <a href="docs/sp.exe">модуль spawner</a>.<br/>
Замечания и предложения можно сообщить с помощью <a href="../bugs/">системы контроля дефектов</a>
или адресу: <img style="position: relative; top: 4px" src="http://imcs.dvgu.ru/img-email/aleksandr_klenin.gif" alt="Электронная почта Кленина А.С."/><br/><br/>

<TMPL_INCLUDE 'includes/menu_end.inc'>
