<TMPL_INCLUDE 'includes/menu_begin.inc'>
<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<b>Добро пожаловать в Автоматическую Проверяющую Систему с Архивом Задач!</b><br><br>

<p>На базе данной системы проводятся чемпионаты ACM по Дальневосточному региону, 
весенние турниры школьников, тренировки студентов.</p>

<p>Количество заданий в системе: <b><TMPL_VAR problem_count></b>.</p>

<p>Для того чтобы в полной мере воспользоваться функциональностью системы,
вы должны <a href="http://imcs.dvgu.ru/cats/main.pl?f=registration&sid=&cid=500001">зарегистрироваться</a>.</p>
Регистрация позволит Вам: 
  <ul>
  <li>Принимать участие в соревнованиях
  <li>Отсылать программы из тренировочной сесии от своего имени
  <li>Наблюдать свои достижения в общей рейтинговой таблице участников
  </ul>
  <br>


Для желающих доступен <a href="./docs/help/format.html">формат заданий</a> и <a href="./docs/sp.exe">модуль spawner</a>.<br>
Все замечания отправляйте по адресу: <a href="mailto:cats@imcs.dvgu.ru">cats@imcs.dvgu.ru</a><br><br>

<b>Новости:</b>
<ul>
<li><font color="red">15 мая 2005.</font><a href="http://imcs.dvgu.ru/projects/rc/rc.zip">Опубликована свежая версия игры RailCraft.
Жанр - брутальная железнодорожная стратегия, сиквел известной игры под MSDOS.</a></li>
</ul>

<!--
<ul>
<li>1 июня 2004. Добавлена функциональность, позволяющая ставить ограничение на объем оперативной памяти.<br>
    Соответственно, появился новый вариант результата: "Memory Limit Exceeded on test XX"       
</ul>
-->

<TMPL_INCLUDE 'includes/menu_end.inc'>
