<TMPL_INCLUDE 'includes/header.inc'>

<TMPL_INCLUDE 'includes/syntax_highlight.inc'>
</head>
<body>
<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>
<TMPL_INCLUDE 'includes/sources_info.inc'>

<table>
<tr>
<td>
<form action="<TMPL_VAR href_current_link>" method="post">
  <select name="src_enc">
  <TMPL_LOOP source_encodings>
  <option value="<TMPL_VAR enc>"<TMPL_IF selected>selected="selected"</TMPL_IF>><TMPL_VAR enc></option>
  </TMPL_LOOP>
  </select>
  <input type="submit" class="button" value="кодировка" />
</form>
</td>
<td>
<TMPL_IF is_jury>
<form enctype="multipart/form-data" action="<TMPL_VAR href_current_link>" method="post">
  <input name="replace_source" type="file" class="file" size="25" />
  <input type="submit" class="button" value="заменить" /> 
</form>
</TMPL_IF>
</td>
</tr>
</table>
<TMPL_LOOP sources_info>
<div class="bordered" style="margin: 0 10 10 0; padding: 0;">
<TMPL_IF 0><td width="1" align="right"><pre><TMPL_LOOP src_lines><TMPL_VAR __counter__>
</TMPL_LOOP></pre></td></TMPL_IF>
<script type="syntaxhighlighter" class="brush: <TMPL_IF syntax><TMPL_VAR syntax><TMPL_ELSE>plain</TMPL_IF>;"><![CDATA[<TMPL_VAR src>]]></script>
</div>
</TMPL_LOOP>

</body>
</html>