<TMPL_INCLUDE 'includes/menu_begin.inc'>

<script>
function delete_compiler(href, name)
{
    if (confirm( "Вы действительно желаете удалить компилятор '" + name + "'?" ))
    {
        document.location=href;
    }
}
</script>

<TMPL_IF message><i><TMPL_VAR message ESCAPE=HTML></i><br></TMPL_IF>

<form method=post enctype='multipart/form-data'>
<TMPL_INCLUDE 'includes/listview_header.inc'>

<table width=100% cellpadding=2 cellspacing=1 class=bordered>
<tr bgcolor=#ccccff>
<TMPL_INCLUDE 'includes/listview_col_defs.inc'>
</tr>

<TMPL_LOOP compilers>
<tr bgcolor=#ffffff>
<td>
  <TMPL_IF editable>
  <a href='javascript:delete_compiler("<TMPL_VAR href_delete>", "<TMPL_VAR description ESCAPE=HTML>");''><img src="./images/std/waste2.gif" border=0></a> 
  <a href='<TMPL_VAR href_edit>'><img src="./images/std/blank.gif" border=0></a> 
  </TMPL_IF>
  <TMPL_VAR code ESCAPE=HTML>
</td>
<td><TMPL_VAR description ESCAPE=HTML></td>
<td><TMPL_VAR supported_ext ESCAPE=HTML></td>
<td><TMPL_VAR memory_handicap></td>
<td><TMPL_VAR syntax></td>
<TMPL_IF editable><td><TMPL_IF locked><font color=red>заблокирована</font><TMPL_ELSE>поддерживается</TMPL_IF></td></TMPL_IF>
</tr>
</TMPL_LOOP>
</table>
</form>

<TMPL_INCLUDE 'includes/menu_end.inc'>
