
table.ft {
  border: 1px solid black;
  border-collapse: collapse;
}

table.ft tr td, table.ft tr th {
  border: 1px solid black;
  padding: 2px;
  vertical-align: top;
}

table.ft tr td ul {
  /*list-style: none;
  margin-left: 5;*/
  margin-bottom: 5;
}
