SET names UTF8;

CREATE DATABASE 'localhost:<path-to-your-database>' USER '<your-username>' PASSWORD '<your-password>';

INPUT init_domains.sql;
COMMIT;

INPUT init_relations.sql;
COMMIT;

INPUT init_misc.sql;
COMMIT;

INPUT init_roles.sql;
COMMIT;

INPUT init_data.sql;
COMMIT;
