DirectoryIndex main.pl
#SetHandler DefaultHandler
Options -Indexes +ExecCGI +FollowSymLinks
#SetHandler DefaultHandler

<Files "main.pl">
  PerlSetEnv CATS_DIR /usr/local/apache/CATS/cgi-bin/
  PerlSendHeader On
#  PerlHandler ModPerl::Registry
#  PerlHandler Apache::Registry
  SetHandler perl-script
</Files>

#AddHandler cgi-script .pl
#SetHandler cgi-script

AddDefaultCharset utf-8

#SetOutputFilter DEFLATE

ExpiresActive On
ExpiresDefault "access plus 5 seconds"
