[% PROCESS header.tti title='Вход в систему, выход из системы' %]
<p>
Для входа в систему необходимо выбрать пункт главного меню "вход", затем указать логин и пароль.
Как логин, так и пароль чувствительны к регистру.</p>
<p>Система разрешает произвольное количество сессий с общим IP-адресом.
При успешном входе в систему с IP-адреса, отличающегося от предыдущего, предыдущая сессия прерывается.</p>
<p>После выбора пункта главного меню "выход" текущая сессия также прерывыается.</p>
[% PROCESS footer.tti %]