[%
  capt.import({
    code => 'Dev. env. code',
    file_ext => 'Supported file extensions',
    default_file_ext => 'Default file extension',
    err_regexp => 'Error message pattern',
    memory_handicap => 'Memory handicap, Mb',
    locked => 'Locked',
  })
%]
