[%
  capt.import({
    want_to_delete => 'Do you really want to exclude site',
    add_sites => 'add sites',
    delete_sites => 'exclude sites',
    console => '控制台',
    rank_table => '排名表',
  })
%]
