[%
  capt.import({
    jobs => {
      types => {
        submission => 'submission',
        snippets => 'snippets',
        install => 'install',
        submission_part => 'part',
        update_self => 'update self',
      },
      states => {
        waiting => 'waiting',
        running => 'running',
        finished => 'finished',
        failed => 'failed',
        waiting_for_verdict => 'verdict',
        canceled => 'canceled',
      },
    },
  })
%]
