[%
  capt.import({
    types => {
      submission => 'submission',
      snippets => 'snippets',
    },
    states => {
      waiting => 'waiting',
      running => 'running',
      finished => 'finished',
    },
  })
%]
