[%
  capt.import({
    can_start_offset => 'This contest uses individual time offset for every participant. Pressing "start" button will start your timer.',
    local_only => 'Problems are <a href="docs/rules_school.html#localonly">temporarily available</a> to local contestants only.'
    not_started => '比赛开始之前，问题是不可用的。',
    participate => '参与',
    start_offset => 'start',
  });
%]
