[%
  capt.import({
    want_to_delete_file => 'Do you really want to delete file ',
    entry => { blob => 'file', tree => 'directory' },
    edit => 'edit',
    download => 'download',
    delete => 'delete',
  })
%]
