[%
  capt.import({
    choose_contest => 'Choose destination contest',
    original_contest => 'Problem in now in contest',
    move_from => 'move to current contest',
    link_to => 'link to contest',
    move_to => 'move to contest',
    problem_code => 'Problem code',
  });
%]
