[%
  capt.import({
    encoding => 'encoding',
    print => '打印',
    replace => 'replace',
    submit => '提交',
    dev_env_detected => '开发环境被发现',
    de_not_allowed => 'This development environment is forbidden. Allowed development environments:',
    different_versions => 'Files on server and client did not match',
  })
%]
