[% PROCESS includes/menu_begin.tti %]
[% PROCESS includes/html_input.tti %]

<form method="post" enctype="multipart/form-data" action="[% ag.href_action %]">
<table class="edit_form">
[% tr_text(ag.indexed.name); tr_textarea(ag.indexed.description); %]
</table>
<br/>
[% PROCESS includes/edit_save_cancel.tti %]
</form>

[% PROCESS includes/menu_end.tti %]
