[% PROCESS 'includes/menu_begin.tti' %]

<form method="post" enctype="multipart/form-data" action="[% href_action %]">
[%- PROCESS "includes/compiler_params.tti" -%]
<br>
<input type=hidden name='id' value="[% id %]" >
<input type=submit name='edit_save' value='     Ok     ' class=button> 
<input type=submit name='edit_cancel' value='Отмена' class=button>
</form>

[% PROCESS 'includes/menu_end.tti' %]