[% PROCESS 'includes/menu_begin.tti' %]
<h3>[% capt.problem %]: [% problem_title %]</h3>
<table style="text-align: right" class="bordered">
<tr><td>&nbsp;</td>[% FOREACH cm IN comparision_matrix %]<td width="20px">[% cm.test_rank %]</td>[% END %]
<td>[% capt.passed %]</td><td>[% capt.failed %]</td>
</tr>
[% FOREACH cm IN comparision_matrix %]
<tr><td><a href="[% cm.href_test_diff %]">[% cm.test_rank %]</a></td>
[% FOREACH d IN cm.data %]<td [% UNLESS d.n %]style="background-color: #FFC0C0"[% END %]>[% d.n %]</td>[% END %]
<td>[% cm.passed_count %]</td><td>[% cm.failed_count %]</td>
</tr>
[% END %]
</table>
<br/>
[% IF equiv_lists.size %]
[% capt.equiv %]:
[% FOREACH equiv IN equiv_lists %] ([% equiv.eq %]) [% END %]<br/>
[% END %]
[% IF simple_tests.size %]
[% capt.simple %]:
[% FOREACH st IN simple_tests %][% st.t %][% UNLESS loop.last %],[% END %][% END %]<br/>
[% END %]
[% IF hard_tests.size %]
[% capt.complex %]:
[% FOREACH ht IN hard_tests %][% ht.t %][% UNLESS loop.last %],[% END %][% END %]<br/>
[% END %]

[% PROCESS 'includes/menu_end.tti' %]
