[% PROCESS includes/menu_begin.tti %]
[% PROCESS includes/html_input.tti %]

<form method="post" enctype="multipart/form-data" action="[% ct.href_action %]">
<table class="edit_form">
[% FOREACH f IN ct.ordered; tr_text(f, ct); END %]
</table>
<br>
[% PROCESS includes/edit_save_cancel.tti %]
</form>

[% PROCESS includes/menu_end.tti %]
