[%- js.datepicker = 1 -%]
[% PROCESS includes/menu_begin.tti %]

<form method="post" enctype="multipart/form-data" action="[% href_action %]">
[% PROCESS includes/contest_params.tti %]
<button type="submit" name="new_save" value="1" class="button">[% capt.ok %]</button>
<button type="submit" name="new_cancel" value="1" class="button">[% capt.cancel %]</button>
</form>

[% PROCESS includes/menu_end.tti %]
