[%- js.nonce = 1 -%]
[%- PROCESS includes/menu_begin.tti -%]

<form method=post enctype='multipart/form-data'>
[% PROCESS includes/listview_header.tti %]

<table class="listview bordered highlight">
[% PROCESS includes/listview_col_defs.tti %]

[% FOREACH cp IN contests_prizes %]
<tr class="[% loop.parity() %]">
<td>[% cp.rank %]</td>
<td>
  [% cp.name | html %]
</td>
</tr>
[% END %]
</table>
[% PROCESS includes/pages.tti %]
</form>

[% PROCESS includes/menu_end.tti %]
