[% PROCESS 'includes/menu_begin.tti' %]

<form method="post" enctype="multipart/form-data" action="[% href_action %]">
[% PROCESS 'includes/contest_params.tti' %]
<input type="submit" name="new_save" value="[% capt.ok %]" class="button">
<input type="submit" name="new_cancel" value="[% capt.cancel %]" class="button">
</form>

[% PROCESS 'includes/menu_end.tti' %]