[% PROCESS 'includes/submit_result.tti' %]
[% PROCESS 'includes/header.tti' %]
</head>
<body bgcolor=#a0a0a0>
<table>
<tr><td>Команда:</td><td>[% team_name | html %]</td></tr>
<tr><td>Время отсылки на тестирования:</td><td>[% submit_time | html %]</td></tr>
<tr><td>Время тестирования:</td><td>[% test_time | html %]</td></tr>
<tr><td>Результат тестирования</td><td>[% submit_result %]</td></tr>
</table>
</body>
</html>