[% PROCESS includes/menu_begin.tti %]
[% PROCESS includes/html_input.tti %]

<form method="post" enctype="multipart/form-data" action="[% kw.href_action %]">
<table class="edit_form">
[% FOREACH f IN kw.ordered; tr_text(f, kw); END %]
</table>
<br/>
[% PROCESS includes/edit_save_cancel.tti %]
</form>

[% PROCESS includes/menu_end.tti %]
