[%- WRAPPER includes/jsonp.tti -%]
[%- USE Javascript -%]
{
[% IF messages.size %]
    "status": "error",
    "message": "[% messages.join(',') | $Javascript %]"
[% ELSE %]
    "status": "ok",
    "sid": "[% sid %]",
    "cid": [% cid %]
[% END %]
}
[%- END -%]
