[%- extra_head = BLOCK %]
<style>
  .compact pre { font-size: small; }
</style>
[% END -%]
[% PROCESS includes/menu_begin.tti %]
[% PROCESS includes/html.tti %]

<h3>[% p.title | html %]</h3>
<form method="post">
<p>
  <button type="submit" name="clear_test_data" class="button" value="1"
    onclick="return confirm('[% capt.confirm_clear_test_data %]')">[% capt.clear_test_data %]</button>
  <button type="submit" name="clear_input_hashes" class="button" value="1"
    onclick="return confirm('[% capt.confirm_clear_input_hashes %]')">[% capt.clear_input_hashes %]</button>
</p>
</form>
<p>[[% href(href_test_gen_script, capt.gen_script) %]]</p>

[% PROCESS includes/listview_header.tti %]

<table class="listview bordered highlight compact">
[% PROCESS includes/listview_col_defs.tti %]

[% FOREACH t IN tests %]
  <tr class="[% loop.parity() %]">
    <td class="num">[% href(t.href_test_diff, t.rank) %]</td>
    <td>[%
      IF t.in_file_name; href(t.href_edit_in, t.in_file_name); ': '; END;
      '<pre>'; t.input | html; '</pre>'; '&hellip;' IF t.input_cut
    %]</td>
    [% IF visible_cols.Is %]<td class="num">[% t.input_size | group_digits %]</td>[% END %]
    <td>[%
      IF t.out_file_name; href(t.href_edit_out, t.out_file_name); ': '; END;
      '<pre>'; t.answer | html; '</pre>'; '&hellip;' IF t.answer_cut
    %]</td>
    [% IF visible_cols.As %]<td class="num">[% t.answer_size | group_digits %]</td>[% END %]
    <td>[% t.generator_params | html %]</td>
    [% IF visible_cols.Vn %]<td>[% t.val_name | html %] [% t.input_validator_param | html %]</td>[% END %]
    [% IF visible_cols.Ih %]<td><code>[% t.input_hash | html %]</code></td>[% END %]
    [% IF visible_cols.De %]<td>[% t.descr | html %]</td>[% END %]
  </tr>
[% END %]
  <tr class="col_defs">
    <td></td>
    <td></td>
    [% IF visible_cols.Is %]<td class="num">[% total.input_size | group_digits %]</td>[% END %]
    <td></td>
    [% IF visible_cols.As %]<td class="num">[% total.answer_size | group_digits %]</td>[% END %]
    <td></td>
    [% IF visible_cols.Vn %]<td></td>[% END %]
    [% IF visible_cols.Ih %]<td></td>[% END %]
    [% IF visible_cols.De %]<td></td>[% END %]
  </tr>
</table>
[% PROCESS includes/pages.tti %]
</form>

[% PROCESS includes/menu_end.tti %]
