[% PROCESS 'includes/menu_begin.tti' %]

<h3>[% problem_title %]</h3>
[% capt.select_testsets %]:
<form action="[% href_problem_select_testsets %]" method="POST">
<table class="bordered">
<tr><td>[% capt.check %]</td><td>[% capt.points %]</td><td>[% capt.name %]</td></tr>
[% FOREACH ts IN testsets %]
<tr class="[% loop.parity() %]">
  <td><input type="checkbox" name="sel_testsets" value="[% ts.id %]" [% IF ts.sel_testsets %]checked="checked"[% END %]</td>
  <td><input type="checkbox" name="sel_points_testsets" value="[% ts.id %]" [% IF ts.sel_points_testsets %]checked="checked"[% END %]</td>
  <td>[% ts.name %] ([% ts.tests %])</td>
</tr>
[% END %]
</table>
<br/>
<input type="hidden" name="cpid" value="[% problem_cpid %]" />
<input type="submit" name="save" value="[% capt.save %]" class="button" />
</form>
[% PROCESS 'includes/menu_end.tti' %]
