[%- WRAPPER includes/jsonp.tti -%]
[%- USE Javascript -%]
{
[% IF local_only %]"message": "local contestants only",
[% ELSIF messages.size %]"message": "[% messages.join(',') | $Javascript %]",
[% END %]
"problems": [
]
}
[%-END -%]
