[% PROCESS includes/menu_begin.tti %]
[% PROCESS includes/html.tti %]

<h3>[% p.title | html %]</h3>
<form method="post">
<p><input type="submit" name="clear_test_data" class="button" value="[% capt.clear_test_data %]" onclick="return confirm('[% capt.confirm_clear_test_data %]')"/></p>
</form>
<table class="internal_borders">
    <tr><th>[% capt.test %]</th><th>[% capt.input %]</th><th>[% capt.answer %]</th><th>[% capt.generator_params %]</th></tr>
[% FOREACH t IN tests %]
    <tr>
        <td>[% t.rank %]</td>
        <td>[% t.input | html; '&hellip;' IF t.input_cut %]</td>
        <td>[% t.answer | html; '&hellip;' IF t.answer_cut %]</td>
        <td>[% t.generator_params %]</td>
    </tr>
[% END %]
</table>

[% PROCESS includes/menu_end.tti %]
