[%- WRAPPER includes/jsonp.tti -%]
[%- USE Javascript -%]
[
[% FOREACH p IN problems %]
{
    "id": [% p.id %],
    "code": "[% p.code %]",
    "title": "[% p.title | $Javascript %]",
    [% IF p.json_data %]"data": [% p.json_data %],[% END %]
    "statement": "[% p.statement | $Javascript %]",
    "input_format": "[% p.input_format | $Javascript %]"
}
[% UNLESS loop.last %],[% END %][% END %]
]
[%- END -%]
