[% PROCESS includes/menu_begin.tti %]

<h3>[% problem_title %]</h3>
[% capt.select_testsets %]:
<form action="[% href_action %]" method="POST">
<table class="bordered highlight">
<tr class="col_defs">
  <th>[% capt.for_check %]</th>
  <th>[% capt.for_points %]</th>
  <th>[% capt.name %]</th>
  <th>[% capt.tests %]</th>
  <th>[% capt.points %]</th>
  <th>[% capt.hide_details %]</th>
  <th>[% capt.depends_on %]</th>
</tr>
[% FOREACH ts IN testsets %]
<tr class="[% loop.parity() %]">
  <td><label style="display: block; width: 100%; height: 100%;">
    <input type="checkbox" name="sel_testsets" value="[% ts.id %]" [% IF ts.sel_testsets %]checked="checked"[% END %]/>
  </label></td>
  <td><label style="display: block; width: 100%; height: 100%;">
    <input type="checkbox" name="sel_points_testsets" value="[% ts.id %]" [% IF ts.sel_points_testsets %]checked="checked"[% END %]/>
  </label></td>
  <td>[% ts.name %]</td>
  <td>[% ts.tests %]</td>
  <td>[% ts.points %]</td>
  <td>[% ts.hide_details %]</td>
  <td>[% ts.depends_on %]</td>
</tr>
[% END %]
</table>
<br/>
<input type="hidden" name="pid" value="[% problem_id %]" />
<input type="submit" name="save" value="[% capt.save %]" class="button" />
</form>
[% PROCESS includes/menu_end.tti %]
