[%- PROCESS includes/header.tti %]
</head>
<body style="margin: 10px">
[% UNLESS sent %]
<form method="post" enctype="multipart/form-data">
  [% capt.message_for_team %] [% team | html %]<br/>
  <input type="text" size="70" name="message_text" />
  <input type="submit" value="[% capt.send %]" name="send" />
  <input type="button" value="[% capt.close %]" onclick="javascript:window.close();">
</form>
[% ELSE %]
<script>window.close();</script>
[% END %]
</body>
</html>
