[% PROCESS includes/menu_begin.tti %]
[% PROCESS includes/html_input.tti %]

<form method="post" enctype="multipart/form-data" action="[% sn.href_action %]">
<table class="edit_form padded">
[% tr_select_value(sn.indexed.problem_id, sn, sn.problems) %]
[% tr_select_value(sn.indexed.account_id, sn, sn.accounts) %]
[% tr_text(sn.indexed.name, sn) %]
[% tr_textarea(sn.indexed.text, sn) %]
</table>
<br>
[% PROCESS includes/edit_save_cancel.tti %]
</form>

[% PROCESS includes/menu_end.tti %]
