[% PROCESS 'includes/menu_begin.tti' %]

pid = [%pid %]
test = [% test %]

<table border="1">
[% FOREACH r IN reqs %]
  <tr><td>[% r.account_id %]</td><td>[% r.id %]</td><td>[% r.state %]</td><td>[% r.failed_test %] [% r.ok %]</td></tr>
[% END %]
</table>

[% PROCESS 'includes/menu_end.tti' %]
