[% PROCESS includes/menu_begin.tti %]
[%- PROCESS includes/submit_result.tti -%]

<p>Problem: [% problem.id %] [% problem.title | html %]</p>
<p>Test: [% test %]</p>

<table border="1" class="bordered highlight">
  <tr class="header">
    <th>Team</th><th>Ids</th><th>Old result</th><th>New result</th><th></th>
  </tr>
[% FOREACH r IN reqs %]
  <tr>
  <td>[% r.team_name %]</td><td>[% href(r.href_diff_runs, r.prev.id _ ', ' _ r.id) %]</td>
  <td>[% submit_result(r.prev) %]</td><td>[% submit_result(r) %]</td>
  <td>[% href(r.href_run_details, '[details]') %]</td>
  </tr>
[% END %]
</table>

[% PROCESS includes/menu_end.tti %]
