[% PROCESS 'includes/menu_begin.tti' %]
[%- PROCESS includes/html.tti -%]

<p>[% capt.name %]: [% team_name %]</p>
<p>[% capt.settings %]
[% IF settings %]<div><pre>[% settings %]</pre></div>[% END %]
</p>

[% PROCESS 'includes/menu_end.tti' %]
