[% PROCESS includes/menu_begin.tti %]

<form method="post" action="[% href_action %]">
<div>
<textarea name="user_list" style="width: 80%">[% report %]</textarea>
</div>
<input type="checkbox" name="do_import" />
<input type="submit" class="btn" name="do" value="[% capt.do_import %]" />
</form>

[% PROCESS includes/menu_end.tti %]
