[% PROCESS 'includes/menu_begin.tti' %]

<form method=post enctype='multipart/form-data' action='[% href_action %]'>
[% PROCESS 'includes/user_main.tti' %]
[% PROCESS 'includes/password.tti' %]
[% PROCESS 'includes/user_extra.tti' %]
<br/>
<input type=submit name='new_save' value='     Ok     ' class=button>
<input type=submit name='new_cancel' value='Отмена' class=button>
</form>

[% PROCESS 'includes/menu_end.tti' %]
