[% PROCESS includes/menu_begin.tti %]

<p>[% capt.name %]: [% team_name | html %]</p>
[% IF restrict_ips %]<p>[% capt.restrict_ips %]: [% restrict_ips %]</p>[% END %]

<table class="internal_borders padded">
<tr><th>[% capt.ts %]</th><th>[% capt.ip %]</th></tr>
[% FOREACH e IN events %]
<tr><td>[% e.ts %]</td><td class="num">[% href(e.href_whois, e.last_ip) %]</td></tr>
[% END %]
</table>
[% PROCESS includes/menu_end.tti %]
