[%- USE Javascript -%]
[
[% FOREACH users -%]
{
"id": [% id %],
"account_id": [% account_id %],
"login": "[% login | $Javascript %]",
"name": "[% team_name | $Javascript %]",
"ooc": [% IF ooc %]1[% ELSE %]0[% END %],
"remote": [% IF remote %]1[% ELSE %]0[% END %],
"virtual": [% IF virtual %]1[% ELSE %]0[% END %],
"jury": [% IF jury %]1[% ELSE %]0[% END %]
}
[%- ',' UNLESS loop.last %]
[% END -%]
]
