[% PROCESS includes/header.tti %]
</head>
<body>

[% PROCESS includes/sources_info.tti %]
<br/>

[% IF message %]<i>[% message | html %]</i><br>[% END %]

<div class="pages" style="float: none">
[% capt.tests %]
<span class="bordered">[%# Must have spaces inside. ~%]
[%~ href(href_prev_pages, '<<') IF href_prev_pages ~%]
[%~ FOREACH p IN test_ranks ~%]
<a href="[% p.href_page %]"[% ' class="current_link"' IF p.current_page %]>[% p.page_number %]</a>
[%~ END ~%]
[%~ href(href_next_pages, '>>') IF href_next_pages ~%]
</span></div>

<form method="post">
<p><input type="submit" name="delete_request_outputs" class="button" value="[% capt.delete_request_outputs %]" onclick="return confirm('[% capt.confirm_delete_for_request %]')"/></p>
[% IF test_data %]
<p><input type="submit" name="delete_test_output" class="button" value="[% capt.delete_test_output %]" onclick="return confirm('[% capt.confirm_delete_for_test %]')"/></p>
[% END %]
</form>
[% IF test_data %]
<h3>[% capt.solution_output %]</h3>
[% capt.size %]: [% test_data.size | group_digits %]
<pre>[% test_data.output | html %]</pre>
[% ELSE; capt.no_output %]
[% END %]

[% PROCESS includes/timing.tti %]
</body>
</html>
