[%- PROCESS includes/sources_styles.tti -%]
[% PROCESS includes/header.tti %]
<style>
  .scrollable { height: 200px; width: 700px; overflow: auto; }
</style>
</head>
<body>

[% PROCESS includes/sources_info.tti %]
<br/>

<div class="pages" style="float: none">
[% capt.tests %]
<span class="bordered">[%# Must have spaces inside. ~%]
[%~ href(href_prev_pages, '<<') IF href_prev_pages ~%]
[%~ FOREACH p IN test_ranks ~%]
<a href="[% p.href_page %]" class="run_details_[% p.short_verdict; ' current_link' IF p.current_page %]">[% p.page_number %]</a>
[%~ END ~%]
[%~ href(href_next_pages, '>>') IF href_next_pages ~%]
</span></div>

<form method="post">
[% PROCESS includes/encoding_form.html.tti
    capt_enc = capt.encoding
    select_name = 'comment_enc'
%]
<p><button type="submit" name="delete_request_outputs" class="button" value="1" onclick="return confirm('[% capt.confirm_delete_for_request %]')">
[%- capt.delete_request_outputs -%]
</button></p>
[% IF output_data %]
<p><button type="submit" name="delete_test_output" class="button" value="1" onclick="return confirm('[% capt.confirm_delete_for_test %]')">
[%- capt.delete_test_output -%]
</button></p>
[% END %]
</form>

<div>
    <h3 id="input_d">[% capt.input_data %]</h3>
    [% IF test_data.input_size %]
        [% capt.size %]: [% test_data.input.length | group_digits %] / [% test_data.input_size | group_digits %]<br>
    [% END %]
    <textarea class="scrollable" wrap="off">[% test_data.decoded_input | html %]</textarea>
</div>

<div>
    <h3 id="answer_d">[% capt.answer_data %]</h3>
    [% IF test_data.answer_size %]
        [% capt.size %]: [% test_data.answer.length | group_digits %] / [% test_data.answer_size | group_digits %]<br>
    [% END %]
    <textarea class="scrollable" wrap="off">[% test_data.decoded_answer | html %]</textarea>
</div>

<div>
    <h3 id="output_d">[% capt.output_data %]</h3>
    [% IF output_data.output_size %]
        [% capt.size %]: [% output_data.output.length | group_digits %] / [% output_data.output_size | group_digits %]<br>
    [% END %]
    <textarea class="scrollable" wrap="off">[% output_data.decoded | html %]</textarea>
</div>

<div style="height: 50px"></div>
[% PROCESS includes/timing.tti %]
</body>
</html>
