[% PROCESS includes/header.tti %]
</head>
<body>

[% PROCESS includes/sources_info.tti %]
<br/>

<style>
    .scrollable {
        height: 200px;
        width: 700px;
        overflow: auto;
    }
</style>

[% IF message %]<i>[% message | html %]</i><br>[% END %]

<div class="pages" style="float: none">
[% capt.tests %]
<span class="bordered">[%# Must have spaces inside. ~%]
[%~ href(href_prev_pages, '<<') IF href_prev_pages ~%]
[%~ FOREACH p IN test_ranks ~%]
<a href="[% p.href_page %]"[% ' class="current_link"' IF p.current_page %]>[% p.page_number %]</a>
[%~ END ~%]
[%~ href(href_next_pages, '>>') IF href_next_pages ~%]
</span></div>

<form method="post">
<p><input type="submit" name="delete_request_outputs" class="button" value="[% capt.delete_request_outputs %]" onclick="return confirm('[% capt.confirm_delete_for_request %]')"/></p>
[% IF output_test_data %]
<p><input type="submit" name="delete_test_output" class="button" value="[% capt.delete_test_output %]" onclick="return confirm('[% capt.confirm_delete_for_test %]')"/></p>
[% END %]
</form>

<div>
    <h3>[% capt.input_test_data %]</h3>
    [% IF test_data.input_size %]
        [% capt.size %]: [% test_data.input_size | group_digits %]<br>
    [% END %]
    <textarea class="scrollable" wrap="off">[% test_data.input | html %]</textarea>
</div>

<div>
    <h3>[% capt.answer_test_data %]</h3>
    [% IF test_data.answer_size %]
        [% capt.size %]: [% test_data.answer_size | group_digits %]<br>
    [% END %]
    <textarea class="scrollable" wrap="off">[% test_data.answer | html %]</textarea>
</div>

<div>
    <h3>[% capt.output_test_data %]</h3>
    [% IF output_test_data.output_size %]
        [% capt.size %]: [% output_test_data.output_size | group_digits %]<br>
    [% END %]
    <textarea class="scrollable" wrap="off">[% output_test_data.output | html %]</textarea>
</div>

[% PROCESS includes/timing.tti %]
</body>
</html>
