[%- PROCESS includes/sources_styles.tti -%]
[% PROCESS includes/header.tti %]

</head>
<body>

[% PROCESS includes/sources_info.tti %]

<div class="pages" style="float: none">
[% capt.tests %]:
<span class="bordered">[%# Must have spaces inside. ~%]
[%~ href(href_prev_pages, '<<') IF href_prev_pages ~%]
[%~ FOREACH p IN test_ranks ~%]
<a href="[% p.href_page %]" class="run_details_[% p.short_verdict; ' current_link' IF p.current_page %]">[% p.page_number %]</a>
[%~ END ~%]
[%~ href(href_next_pages, '>>') IF href_next_pages ~%]
</span></div>

<script>
  var test_data = [% test_data_json %];
</script>

<div>
<canvas id="visualizer_canvas" width="800" height="800" style="border: 1px solid black;">
</canvas>
</div>

[% FOREACH script IN vis_scripts %]
  <script type="text/javascript" src="[% script | url %]"></script>
  <script>[% visualizer.name %](document.getElementById('visualizer_canvas'), test_data)</script>
[% END %]

</body>
[% PROCESS includes/timing.tti %]
</html>
