[%- USE Javascript -%]
[% PROCESS includes/header.tti %]

<script>
  var input_file = "[% input_file | $Javascript %]";
</script>

</head>
<body>

<canvas id="visualizer_canvas" width="800" height="800" style="border: 1px solid black;">
</canvas>

[% FOREACH script IN vis_scripts %]
  <script type="text/javascript" src="[% script | url %]"></script>
  <script>[% visualizer.name %](document.getElementById('visualizer_canvas'), input_file)</script>
[% END %]

</body>
