[%- js.nonce = 1 -%]
[%- IF page.style; extra_head = BLOCK -%]
<style>[% page.style %]</style>
[%- END; END -%]
[%- PROCESS includes/menu_begin.tti -%]

<div class="wiki">
<div>
<h1>[% page.title | html %]</h1>

<div>
[% page.markdown %]
</div>

</div>
</div>

[% PROCESS includes/menu_end.tti %]
