h2 {
  font-family: Arial;
  font-size: 16px;
}

table.ft, table.bordered {
  border: 1px solid black;
  border-collapse: collapse;
}

table.bordered tr td {
  border: 1px solid black;
  padding: 2px;
}

table.ft tr td, table.ft tr th {
  border: 1px solid black;
  padding: 3px;
  vertical-align: top;
}

table.ft tr td ul {
  padding-left: 25px;
  margin-bottom: 0px;
}

code a, code a:link { font-family: inherit; }
