[%
  capt.import({
    add_users => 'Добавить пользователей',
    logins_to_add => 'Список логинов, через запятую',
    make_hidden => 'скрыть добавленных',
    by_login => 'Добавить по логинам',
    from_contest => 'Добавить из турнира',
    include_ooc => 'включая внеконкурсных',
  })
%]
