[%
  capt.import({
    problem => 'Задача',
    passed => 'Прошло',
    failed => 'Не прошло',
    equiv => 'Эквивалентные тесты',
    simple => 'Простые тесты',
    complex => 'Сложные тесты',
  })
%]
