[%
  capt = {
    code => 'Код среды разработки',
    description => 'Описание',
    supported_ext => 'Поддерживаемые расширения файлов',
    memory_handicap => 'Добавочная память, Мб',
    syntax => 'Синтаксис',
    locked => 'Заблокирована',
    ok => '     Ok     ',
    cancel => 'Отмена',
  }
%]
