[%
  capt.import({
    code => 'Код среды разработки',
    description => 'Описание',
    file_ext => 'Поддерживаемые расширения файлов',
    default_file_ext => 'Расширение по умолчанию',
    memory_handicap => 'Добавочная память, Мб',
    syntax => 'Синтаксис',
    locked => 'Заблокирована',
  })
%]
