[%
  capt.import({
    jury => 'жюри',
    answer => 'ответить',
    delete => 'удалить',
    message => 'сообщение',
    all_teams => 'всем участникам',
    contest_dates => {
      start => 'Начался',
      freeze => 'Заморожен',
      finish => 'Закончился',
    },
    official_contest => 'официальный турнир',
    contest => 'турнир',
    pages => 'страницы',
  })
%]
