[%
  capt.import({
    want_to_delete => 'Вы действительно желаете исключить площадку',
    add_sites => 'добавить площадки',
    delete_sites => 'исключить площадки',
    console => 'консоль',
    rank_table => 'результаты',
  })
%]
