[%
  capt.import({
    compare_submissions => 'Сравнение отправленных файлов',
    encoding => 'кодировка',
    replace_placeholder => 'идент. через пробел',
    replace => 'заменить',
    similarity => 'Сходство',
    reject_both => 'отвергнуть',
    reject_both_message => 'списано',
    show => 'Показывать',
    both => 'сравнение',
    diff => 'отличия',
    a_only => 'только A',
    b_only => 'только B',
  })
%]
