[%
  capt.import({
    compare_submissions => 'Сравнение отправленных файлов',
    encoding => 'кодировка',
    show => 'Показывать',
    both => 'сравнение',
    diff => 'отличия',
    a_only => 'только A',
    b_only => 'только B',
    reject_both => 'отвергнуть',
    reject_both_message => 'списано',
  })
%]
