[%
  capt.import({
    compare_submissions => 'Сравнение отправленных файлов',
    show => 'Показывать',
    both => 'сравнение',
    diff => 'отличия',
    a_only => 'только A',
    b_only => 'только B',
  })
%]
