[%
  capt.import({
    contest => 'Турнир',
    team => 'Участник',
    problem => 'Задача',
    submit_time => 'Время отправки',
    test_time => 'Время тестирования',
    submit_result => 'Результат тестирования',
  })
%]
