[%
  capt.import({
    types => {
      submission => 'попытка',
      snippets => 'фрагменты',
      install => 'установка',
    },
    states => {
      waiting => 'ожидает',
      running => 'выполняется',
      finished => 'завершена',
      failed => 'ошибка',
    },
  })
%]
