[%
  capt.import({
    jobs => {
      types => {
        submission => 'попытка',
        snippets => 'фрагменты',
        install => 'установка',
      },
      states => {
        waiting => 'ожидает',
        running => 'выполняется',
        finished => 'завершена',
        failed => 'ошибка',
      },
    },
  })
%]
