[%
  capt.import({
    jobs => {
      types => {
        submission => 'попытка',
        snippets => 'фрагменты',
        install => 'установка',
        submission_part => 'часть',
        update_self => 'обновиться',
      },
      states => {
        waiting => 'ожидает',
        running => 'выполняется',
        finished => 'завершена',
        failed => 'ошибка',
        waiting_for_verdict => 'вердикт',
        canceled => 'отменена',
      },
    },
  })
%]
