[%
  capt.import({
    want_to_delete => 'Вы действительно желаете удалить судью',
    ping => 'запрос',
    pin_mode => [ 'заблокирован', 'попытка', 'турнир', 'всё' ],
    queue => 'Очередь',
  })
%]
