[%
  capt.import({
    want_to_delete => 'Вы действительно желаете удалить судью',
    ping => 'запрос',
    queue => 'Очередь',
    update => 'обновить до последней версии',
    run_command => 'запустить команду',
  })
%]
