[%
  capt.import({
    can_start_offset => 'В этом турнире используется индивидуальный сдвиг времени для каждого участника. Кнопка "начать" запустит отсчёт вашего времени.',
    local_only => 'Задачи <a href="docs/rules_school.html#localonly">временно доступны</a> только локальным участникам.',
    not_started => 'Задачи недоступны до начала турнира.',
    participate => 'зарегистрироваться для участия',
    start_offset => 'начать',
  });
%]
