[%
  capt.import({
    choose_contest => 'Выберите турнир назначения',
    original_contest => 'Задача находится в турнире',
    link_to => 'Прилинковать в турнир',
    move_to => 'Переместить в турнир',
    move_from => 'Переместить в текущий турнир',
  });
%]
