[%
  capt.import({
    original_limits => 'Исходные ограничения',
    overridden_limits => 'Переопределённые ограничения',
    override => 'Переопределить',
    clear_override => 'Очистить переопределение',
    save_output_prefix => 'Сохранение вывода',
    job_split_strategy => 'Стратегия разделения работ',
  })
%]
