[%
  capt.import({
    in_queue => 'Всего в очереди',
    ignore_verdicts => 'Игнорировать попытки с вердиктами',
    retest => 'перетестировать',
    recalc => 'переоценить',
    all_runs => 'все попытки',
  })
%]
