[%
  capt.import({
    original_limits => 'Исходные ограничения',
    overridden_limits => 'Переопределенные ограничения',
    override => 'Переопределить',
    clear_override => 'Очистить переопределение',
    save_output_prefix => 'Сохранение вывода',
  })
%]
