[%
  capt.import({
    problem_code => 'Присвоить задаче код',
    package => 'пакет',
    move => 'Переместить',
    link => 'Прилинковать',
    cancel => 'Отмена',
    code_from_contest => 'использовать код из турнира'
    topics => 'Темы',
  })
%]
