[%
  capt.import({
    choose_contest => 'Выберите турнир назначения',
    original_contest => 'Задача находится в турнире',
    move_from => 'переместить в текущий турнир',
    link_to => 'прилинковать в турнир',
    move_to => 'переместить в турнир',
    problem_code => 'Код задачи',
  });
%]
