[%
  capt.import({
    filter => 'фильтр',
    groups => 'Группы',
    sites => 'Площадки',
    name_tag => 'Имя / тег',
    sort => { n => 'Сортировать по', rank => 'рангу', name => 'имени' },
    search => 'найти',
    loading => 'Идет загрузка страницы...',
  })
%]
