[%
  capt.import({
    retest => 'Перетестировать',
    clone => 'Клонировать',
    judge => 'Судья',
    delete => 'Удалить попытку',
    confirm_delete => 'Удалить эту попытку. Вы уверены?',
  })
%]
