[%
  capt.import({
    retest => 'Перетестировать',
    clone => 'Клонировать',
    judge => 'Судья',
    delete => 'Удалить попытку',
    confirm_delete => 'Удалить попытку %d. Вы уверены?',
    testing_result => 'результат тестирования',
    retest => 'Перетестировать',
    on_test => 'на тесте №',
    with_points => 'с оценкой',
    save_output_prefix => 'Сохранение вывода',
  })
%]
