[%
  capt.import({
    encoding => 'кодировка',
    testsets => 'Наборы тестов',
    name => 'Название',
    tests_passed => 'Пройдено тестов',
    points => 'Баллы',
    comment => 'Примечание',
    depends_on => 'Зависит от',
    test_data => 'Входные данные',
    visualize => 'Визуализировать',
    show_test_data => 'Показывать входные данные',
    test => 'Тест',
    result => 'Результат',
    time => 'Время, сек',
    memory => 'Память',
    disk => 'Диск',
    total => 'Всего',
  })
%]
