[%
  capt1 = {
    encoding => 'кодировка',
    testsets => 'Наборы тестов',
    name => 'Название',
    tests_passed => 'Пройдено тестов',
    points => 'Баллы',
    comment => 'Примечание',
    test => 'Тест',
    result => 'Результат',
    time => 'Время, сек',
    memory => 'Память',
    disk => 'Диск',
    total => 'Всего',
  }
%]
