[%
  capt.import({
    problem => 'Задача',
    threshold => 'Порог',
    compare => 'Сравнить',
    include_virtual => 'Учитывать виртуальных',
    include_jury => 'Учитывать жюри',
    group_by_team => 'Группировать по участникам',
    sudden_changes => 'Резкие изменения',
    collapse_idents => 'Игнорировать идентификаторы',
    all_contests => 'Все турниры',
    console => 'консоль',
    equivalency_groups => 'Группы эквивалентности',
  })
%]
