[%
  capt.import({
    name => 'Краткое название площадки',
    region => 'Регион',
    city => 'Город / населённый пункт',
    org_name => 'Полное наименование организации',
    address => 'Полный почтовый адрес',
    contest => 'Турнир',
    start_date => 'Дата начала',
    orgs => 'Организаторы',
  })
%]
