[%
  capt.import({
    want_to_delete => 'Вы действительно желаете удалить тему',
    contest => 'Турнир',
    from_contest => 'импортировать из турнира',
    include_hidden => 'включая скрытые',
  })
%]
