[%
  capt.import({
    locked => 'Заблокирован',
    impersonate => 'Войти под этим пользователем',
    role => 'Роль',
    roles => {
      '0' => 'администратор',
      '1' => 'пользователь',
      '2' => 'может создавать турниры',
    },
  })
%]
