[%
  capt.import({
    want_to_delete => 'Вы действительно желаете дисквалифицировать участника',
    virtual => 'виртуальн.',
    save_attributes => 'Сохранить атрибуты',
    login => 'Логин',
    set_tag => 'Установить тег',
    set_site => 'Установить площадку',
    message_to_teams => 'Сообщение участникам',
    send => 'Отправить',
    send_to_all => 'отправить всем',
    send_to_all_contests => 'во все турниры',
  })
%]
