[%
  capt.import({
    add_participants => 'Добавить участников',
    logins_to_add => 'Список логинов, через запятую',
    make_jury => 'добавить к жюри',
    by_login => 'Добавить по логинам',
    from_contest => 'Скопировать из турнира',
    include_ooc => 'включая внеконкурсных',
  })
%]
