[%
  capt.import({
    locked => 'Заблокирован',
    impersonate => 'Войти под этим пользователем',
    roles => {
      roles => 'Роль',
      root => 'администратор',
      create_contests => 'может создавать турниры',
      moderate_messages => 'может модерировать сообщения',
    },
  })
%]
