[%
  capt.import({
    name => 'Имя',
    last_login => 'Последний вход',
    last_ip => 'Последний IP',
    problems => 'Задачи',
    all => 'все',
    solved => 'решённые',
    contests => 'Турниры',
    send_message => 'сообщение',
  })
%]
