[%
  capt.import({
    want_to_delete => 'Вы действительно желаете дисквалифицировать команду',
    save_attributes => 'Сохранить атрибуты',
    login => 'Логин',
    tag => 'Тег',
    add_team => 'Добавить команду',
    set => 'Установить',
    message_to_teams => 'Сообщение командам',
    send => 'Отправить',
    send_to_all => 'отправить всем',
  })
%]
