[%
  capt.import({
    add_participants => 'Добавить участников',
    logins_to_add => 'Список логинов, через запятую',
    make_jury => 'добавить к жюри',
    view_added => 'просмотреть добавленных участников',
    by_login => 'Добавить по логинам',
    contest => 'Турнир',
    from_contest => 'Скопировать из турнира',
    include_ooc => 'включая внеконкурсных',
    group => 'Группа',
    from_group => 'Добавить из группы',
    include_admins => 'включая администраторов',
  })
%]
