[%
  capt.import({
    name => 'Имя',
    last_login => 'Последний вход',
    last_ip => 'Последний IP',
    problems => 'Задачи',
    sites => 'Площадки',
    envelopes => 'Неполученные оповещения',
    all => 'все',
    solved => 'решённые',
    contests => 'Турниры',
    send_message => 'сообщение',
    tokens => 'Токены',
  })
%]
