[%
  capt.import({
    name => 'Имя',
    in_list => 'В списке пользователей',
    last_login => 'Последний вход',
    last_ip => 'Последний IP',
    problems => 'Задачи',
    sites => 'Площадки',
    snippets => 'Фрагменты',
    envelopes => 'Неполученные оповещения',
    all => 'все',
    solved => 'решённые',
    contests => 'Турниры',
    ooc => 'внек.',
    send_message => 'сообщение',
    groups => 'Группы',
    tokens => 'Токены',
    make_token => 'создать токен',
  })
%]
