[%
  capt.import({
    encoding => 'кодировка',
    similarity => 'сходство',
    print => 'печатать',
    replace => 'заменить',
    submit => 'отправить',
    dev_env_detected => 'Определена среда разработки',
    de_not_allowed => 'Указанная среда разработки не разрешена. Допустимые среды:',
    different_versions => 'Файлы на сервере и клиенте не совпали',
  })
%]
