[%
  capt.import({
    encoding => 'кодировка',
    print => 'печатать',
    replace => 'заменить',
    submit => 'отправить',
    dev_env_detected => 'Определена среда разработки',
    de_not_allowed => 'Указанная среда разработки не разрешена. Допустимые среды:',
    reset => 'сбросить редактор',
  })
%]
